
<app-stafftoolbar (toggleSidebarForMe)="sideBarToggler()"></app-stafftoolbar>
<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
        <app-staffsidenav></app-staffsidenav>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
        
           <section class="">
            <div class="containers">
                <div class="title">
                    
                    <h1><span>CONSTRACK</span> ACCOUNTS</h1>

                </div>
             
                
                <div class="table-container"  style="margin-top: -80px;">
                    <div class="header">
                        <div class="filters">
                            
                                 
                            <input type="text" class="search" placeholder="Search by name..." [(ngModel)]="searchText">
                        </div>
                        <div class="dues-info">
                            
                            <button (click)="openCreateClientModal()" class="btn-grad">Add New Account</button>
                            <app-create-client-acct 
                            *ngIf="isCreateClientModalOpen" (close)="closeCreateClientModal()">
                    </app-create-client-acct>
                        </div>
                    </div>
            
                    <table class="responsive-table" id="myTable">
                        <thead>
                            <tr>
                                <th><input type="checkbox"></th>
                                <th>No.</th>
                            <th>ID</th>
                            
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Address</th>
                            <th>Status</th>
                            <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let client of paginatedUsers|filter:searchText; let i = index" >
                                <td><input type="checkbox"></td>
                                <td>{{ i ++ 1}}</td>
                                <td>{{ client.id }}</td>
                                <td>{{ client.first_name }} {{ client.last_name }}</td>
                                <td>{{ client.phone_number }}</td>
                                <td>{{ client.address }}, {{ client.city }}</td>
                                <td><span [ngClass]="{
                                    'active': client?.user_status === 'Active', 
                                    'inactive': client?.pt_status === 'Not Active'
                                  }">{{client.user_status}}</span></td>
                                <td style="text-align: center;">
                                    <div class="action-menu">
                                        <button (click)="openEditModal()" class="view-more">Edit</button>
                                        <app-editprofile 
                                        *ngIf="isEditModalOpen" (close)="closeEditModal()">
                                        </app-editprofile>
                                    </div>
                                </td>
                            </tr>
                            
                            <!-- Repeat for other rows -->
                        </tbody>
                    </table>

                    <div class="pagination-controls">
                        <button (click)="previousPage()" [disabled]="currentPage === 1" class="pagination-btn">Previous</button>
                        <span class="pagination-info">Page {{currentPage}} of {{totalPages}}</span>
                        <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="pagination-btn">Next</button>
                    </div>
                </div>
               
                
                

            </div>

           </section>
           

                
          

       
          
            
        
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>