
<app-stafftoolbar (toggleSidebarForMe)="sideBarToggler()"></app-stafftoolbar>
<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
        <app-staffsidenav></app-staffsidenav>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
        
           <section class="">
            <div class="containers">
                <div class="title">
                    
                    <h1><span>CONSTRACK</span> ACCOUNTS</h1>

                </div>
             
                
                <div class="table-container"  style="margin-top: -80px; height: 700px;">
                    <div class="header">
                        <div class="filters">
                            
                                 
                            
                        </div>
                        <div class="dues-info">
                            
                             <app-create-client-acct 
                            *ngIf="isCreateClientModalOpen" (close)="closeCreateClientModal()">
                    </app-create-client-acct>
                        </div>
                    </div>
                    <div class="header">
                        <div class="filters">
                            
                                 
                            <input type="text" class="search" placeholder="Search by name..." [(ngModel)]="searchText">
                        </div>
                        <div class="dues-info">
                            
                            <button (click)="openCreateClientModal()" type="button" class="btn btn-danger" style="padding: 10px;">Add New Client</button>
                           
                        </div>
                    </div>
                    
            
                    <table class="table table-bordered" id="myTable" style="font-family: 'Poppins', sans-serif; font-weight: bold;">
                        <thead>
                            <tr>
                           
                                <th></th>
                            
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Address</th>
                            <th>Status</th>
                            <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let client of getRowsWithEmptySpaces()|filter:searchText; let i = index" >
                               

                                <ng-container *ngIf="client; else emptyRow">
                                <td>{{ (currentPage - 1) * rowsPerPage + i + 1 }}</td>
                            
                                <td>{{ client.first_name }} {{ client.last_name }}</td>
                                <td>{{ client.phone_number }}</td>
                                <td>{{ client.address }}, {{ client.city }}</td>
                                <td><span [ngClass]="{
                                    'active': client?.user_status === 'Active', 
                                    'inactive': client?.user_status === 'Not Active'
                                  }">{{client.user_status}}</span></td>
                                <td style="text-align: center;">
                                    
                                        <a (click)="openEditModal(client.id)" class="view">Edit</a>
                                        <app-editprofile 
                                        *ngIf="isEditModalOpen"[clientId]="SelectedClientId!" (close)="closeEditModal()">
                                        </app-editprofile>
                              
                                </td>
                            </ng-container>
                            <ng-template #emptyRow>
                                <td colspan="1"></td>
                                <td colspan="1"></td>
                                <td colspan="1"></td>
                                <td colspan="1"></td>
                                <td colspan="1"></td>
                                <td colspan="1"></td>
                              </ng-template>
                            </tr>
                            
                            <!-- Repeat for other rows -->
                        </tbody>
                    </table>

                    <div class="pagination-controls">
                        <button (click)="previousPage()" [disabled]="currentPage === 1" class="pagination-btn">Previous</button>
                        <span class="pagination-info">Page {{currentPage}} of {{totalPages}}</span>
                        <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="pagination-btn">Next</button>
                    </div>
                </div>
               
                
                

            </div>

           </section>
           

                
          

       
          
            
        
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>