<body >
    <main>

        <nav class="navbar navbar-expand-lg navbar-light bg-white py-5">
            <div class="container">
                <a class="navbar-brand" href="index.php"><span class="fw-bolder text-primary text-black">ConsTrack Team</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                        <li class="nav-item"><a class="nav-link">Home</a></li>
                        <li class="nav-item"><a class="nav-link" routerLink="/Constrack/website/portfolio">Projects</a></li>
                        <li class="nav-item"><a class="nav-link">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <header class="py-5">
            <div class="container px-5 pb-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-xxl-5">
                        
                        <div class="text-center text-xxl-start">
                            <div class="badge bg-black text-white mb-4"><div class="text-uppercase">Our &middot; Simple &middot; Portfolio</div></div>
                          
                            <h1 class="display-6 fw-bolder "><span class="text-black">ConsTrack: </span></h1>
                            <div class="fs-3 fw-light text-muted">A Project Framework for Construction Project Monitoring</div>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
                                <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder"  routerLink="/Constrack">Login</a>
                                <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" routerLink="/Constrack/website/portfolio" routerLinkActive="">Projects</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-7">
               
                        <div class="d-flex justify-content-center mt-3 mt-xxl-0">
                            <div class="profile">
                               
                                <img class="profile-img" src="assets/bg.jpg" alt="" class="width">
                                
                                
                                
                                
                            </div>
                        </div>
                        
                    </div>
                    <div class="fs-1 fw-light text-black">Project Monitoring System</div>
                    <div class="fs-4 fw-light text-black">A project monitoring system helps track the progress, performance, and timelines of a project to ensure it stays on schedule and meets its objectives. Also tracking of tasks, resources, and milestones, providing stakeholders with clear insights into project status.  </div>
                </div>
            </div>
        </header>
      
        <section class="bg-light py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-xxl-8">
                        <div class="text-center my-5">
                            <h2 class="display-5 fw-bolder"><span class="text-black d-inline">About Us</span></h2>
                            <p class="lead fw-light mb-4">ConsTrack Team</p>
                            <p class="text-muted">Full stack programmers based in Isabela, Philippines. Developing web-based framework systems from well known companies, web and application platforms. </p>

                            <div class="d-flex justify-content-center fs-2 gap-4">
                                <a class="text-black" href="#!"><i class="bi bi-twitter"></i></a>
                                <a class="text-black" href="#!"><i class="bi bi-linkedin"></i></a>
                                <a class="text-black" href="#!"><i class="bi bi-github"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

   

</body>