<body class="constract" style="background-image: url('/assets/vission.jpg'); background-size: 100% auto; width: 100%; height: 100%; background-repeat: no-repeat; background-position: center;">

    
    <div class="row">
        <div class="container-fluid align-items-center">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                       <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 fw-bolder" style="font-size: 20px;">
                            <li class="nav-item"><a class="nav-link" routerLink="/Constrack/website" style="font-size: 20px; color: red;">Home</a></li>
                            <li class="nav-item"><a class="nav-link" routerLink="/Constrack/website/portfolio" style="font-size: 20px; color: red;">Projects</a></li>
                            <li class="nav-item"><a class="nav-link" routerLink="/Constrack/website/goal" style="font-size: 20px; color: red;">Contact</a></li>
                        </ul>
                    </div>
                    
                </div>
                
            </nav>
            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-end m-5">
                <a class="btn btn-danger btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder"  routerLink="/Constrack">Login</a>
                <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" routerLink="/Constrack/website/portfolio" routerLinkActive="">Projects</a>
            </div>
            
        </div>
    </div>
  
</body>

