
<div class ="modal">
    <div class="div modal-content">
        <span class = "close" (click)="closeModal()">&times;</span>

        <div class="container">
        
            
            
            
            
          
         
          <div class="row">
            <div class="col-6"></div>
            <div class="col-6 text-end">
              <button class="btn btn-sm btn-success" (click)="addRow()">Add Material</button>
            </div>
          </div>
          <div class="pt-2">
            <form>
              <table class="table table-bordered">
                <thead>
                  <tr class="text-uppercase table-dark">
                    <th scope="col">
                      <input type="checkbox" name="isCheckAll" [(ngModel)]="isCheckAll" (ngModelChange)="checkAll($event)" />
                    </th>
                    <th scope="col">Material</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Cost</th>
                  </tr>
                </thead>
                <tbody [formGroup]="materialform">
                  <ng-container formArrayName="tableRows" *ngFor="let group of getFormControls.controls; let i=index">
                    <tr [formGroupName]="i">
                      <td scope="row" class="align-middle">
                        <input type="checkbox" formControlName="ischecked" />
                      </td>
                      <td>
                        <input type="text" class="form-control" formControlName="material" placeholder="Enter Material">
                        
                      </td>
                      <td>
                        <input type="text" class="form-control" formControlName="lastname" placeholder="Enter Qty">
                       
                      </td>
                     
                      <td>
                        <input type="text" class="form-control" formControlName="cost" placeholder="Enter Cost">
                      </td>
                     
                      <td>
                        <button class="btn btn-danger" (click)="removeEmployee(i)">Remove</button>
                      </td>
                    </tr>
                  </ng-container>
                  <ng-container>
                    <tr>
                      <td colspan="7">
                        <div class="row">
                          <div class="col-12 text-center">
                            <button class="btn btn-success" [disabled]="materialform.invalid" (click)="onSaveForm()">Save</button>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </form>
          </div>
            
            </div> 
    
   
        
    </div>
</div>




<router-outlet></router-outlet>

