




<div class ="modal">
  <div class="div modal-content">
 

      <div class="container">
          <form (ngSubmit)="onSubmit()" #clientForm="ngForm">
          <div class="card-body text-center">
                  <h1 class="mt-1 mb-5 pb-1" style="font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Resource's</h1>
                
              <div class="row" style="margin-top: -40px;">
                  
                <div class="col-md-4">
                  <label for="example-text-input" class="form-control-label">Resource Name</label>
                  <input class="form-control" type="text"  id="resource_name" name="resource_name"
                   [(ngModel)]="resources.resource_name" #nameControl="ngModel" required />
                </div>
                <div class="col-md-4">
                  <label for="example-text-input" class="form-control-label"
                    >Qty</label>
                    <input class="form-control" type="text"  id="qty" name="qty"
                    [(ngModel)]="resources.qty" #nameControl="ngModel" required />
                </div>
                
                <div class="col-md-4">
                  <label for="example-text-input" class="form-control-label"
                    >Unit Cost</label>
                    <input class="form-control" type="text"  id="unit_cost" name="unit_cost"
                    [(ngModel)]="resources.unit_cost" #nameControl="ngModel" required />
                </div>
                                

                
                
                <div class="d-flex align-items-center justify-content-between py-3">
                  <button type="button" (click)="closeModal()" class="btn btn-outline-danger">Cancel</button>
                  <button type="submit" class="btn btn-outline-dark">Confirm</button>
                  </div>
              </div>
              
              

              
            </div>
          </form>
          
          
          
        
          </div> 
  
 
      
  </div>
</div>




<router-outlet></router-outlet>








