
<div class ="modal">
    <div class="div modal-content">
        <span class = "close" (click)="closeModal()">&times;</span>

        <div class="container">
        
            
            
            
            
            <div class="card bg-light">
            <article class="card-body mx-auto" style="max-width: 550px;">
              <form (ngSubmit)="onSubmit()" #clientForm="ngForm">
                <div class="">
                      
                    <div class="row">
                        
                      <div class="col-md-6">
                        <label for="example-text-input" class="form-control-label"
                          >Task Name:</label
                        >
                        <input placeholder="Task Name" class="form-control" type="text" id="pt_task_name" [(ngModel)]="task.pt_task_name" name="pt_task_name" #nameControl="ngModel" required>
                   
                      </div>
                      <div class="col-md-6">
                        <label for="example-text-input" class="form-control-label"
                          >Starting Date:</label
                        >
                        <input placeholder="Task Name" class="form-control" type="date" id="pt_task_name" [(ngModel)]="task.pt_starting_date" name="pt_starting_date" #nameControl="ngModel" required>
                    
                      </div>
                      <div class="col-md-6">
                        <label for="example-text-input" class="form-control-label"
                          >Completion Date:</label
                        >
                        <input placeholder="Task Name" class="form-control" type="date" id="pt_completion_date" [(ngModel)]="task.pt_completion_date" name="pt_completion_date" #comControl="ngModel" required>
                    
                      </div>
                      <div class="col-md-6">
                        <label for="example-text-input" class="form-control-label"
                          >Task Image:</label
                        >
                        <input placeholder="Task Name" class="form-control" type="file" (change)="onFileChange($event, 'pt_photo_task')" matTooltip="Upload photos for starting a task" required>
                    
                      </div>
                      <div class="col-md-6">
                        <label for="example-text-input" class="form-control-label"
                          >Task Document:</label
                        >
                        <input placeholder="Task Name" class="form-control" type="file" (change)="onFileChange($event, 'pt_file_task')" matTooltip="Upload documents such as permits, contracts, etc.">
                        
                    
                      </div>
                      <div class="form-group">
                        <label for="resources" class="form-control-label">Resources:</label>
                        <div id="resources-container">
                            <div class="resource-item" *ngFor="let resource of task.resources; let i = index" class="d-flex align-items-center mb-2">
                                <input class="form-control mr-2  mx-1" type="text" placeholder="Resource Name" [(ngModel)]="resource.resource_name" name="resource_name_{{i}}" required>
                                <input class="form-control mr-2  mx-1" type="number" placeholder="Quantity" [(ngModel)]="resource.qty" name="qty_{{i}}" required>
                                <input class="form-control mr-2  mx-1 " type="number" placeholder="Unit Cost Per Piece" [(ngModel)]="resource.unit_cost" name="unit_cost_{{i}}" required> 

                                <button type="button" class="btn btn-danger mx-1" (click)="removeResource(i)">
                                  <span class="material-icons">delete</span>
                                </button>
                            </div>
                        </div>
                        <button type="button" class="btn btn-dark m-2" (click)="addResource()">
                          <span class="material-icons">add</span>
                        </button>
                    </div>
    
                     
                      
                      
                     
                      
                     
    
                      
                      
                      <div class="d-flex align-items-center justify-content-between py-3">
                        <button type="submit" class="btn btn-outline-dark">Submit</button>
                        <button type="button" (click)="closeModal()" class="btn btn-outline-danger">Cancel</button>
                        </div>
                    </div>
                    
                    
    
                    
                  </div>
                </form>
                
               
                 
            </article>
            </div> <!-- card.// -->
            
            </div> 
    
   
        
    </div>
</div>




<router-outlet></router-outlet>

