






<div class ="modal">
  <div class="div modal-content">
 

      <div class="container">
          <form (ngSubmit)="onSubmit()" #clientForm="ngForm">
          <div class="card-body text-center">
                  <h1 class="mt-1 mb-5 pb-1" style="font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Add Task</h1>
                
              <div class="row" style="margin-top: -40px;">
                  
                <div class="col-md-6">
                  <label for="example-text-input" class="form-control-label"
                    >Task Name</label
                  >
                  <input placeholder="Task Name" class="form-control" type="text" id="pt_task_name" [(ngModel)]="task.pt_task_name" name="pt_task_name" #nameControl="ngModel" required>
             
                </div>
                <div class="col-md-6">
                  <label for="example-text-input" class="form-control-label"
                    >Estimated Budget</label
                  >
                  <input placeholder="Budget" class="form-control" type="text" id="pt_total_budget" [(ngModel)]="task.pt_total_budget" name="pt_total_budget" #nameControl="ngModel" required>
             
                </div>
                
                <div class="col-md-6">
                  <label for="example-text-input" class="form-control-label"
                    >Starting Date</label
                  >
                  <input placeholder="Task Name" class="form-control" type="date" id="pt_task_name" [(ngModel)]="task.pt_starting_date" name="pt_starting_date" #nameControl="ngModel" required>
              
                </div>
                <div class="col-md-6">
                  <label for="example-text-input" class="form-control-label"
                    >Completion Date</label
                  >
                  <input placeholder="Task Name" class="form-control" type="date" id="pt_completion_date" [(ngModel)]="task.pt_completion_date" name="pt_completion_date" #comControl="ngModel" required>
              
                </div>
                
                <div class="form-group">
                  <label for="resources" class="form-control-label">Resources</label>
                  <div id="resources-container">
                      <div class="resource-item" *ngFor="let resource of task.resources; let i = index" class="d-flex align-items-center mb-2">
                          <input class="form-control mr-2  mx-1" type="text" placeholder="Resource Name" [(ngModel)]="resource.resource_name" name="resource_name_{{i}}" required>
                          <input class="form-control mr-2  mx-1" type="number" placeholder="Quantity" [(ngModel)]="resource.qty" name="qty_{{i}}" required>
                          <input class="form-control mr-2  mx-1 " type="number" placeholder="Unit Cost Per Piece" [(ngModel)]="resource.unit_cost" name="unit_cost_{{i}}" required> 

                          <button type="button" class="btn btn-danger mx-1" (click)="removeResource(i)">
                            <span class="material-icons">delete</span>
                          </button>
                      </div>
                  </div>
                  <button type="button" class="btn btn-dark m-2" (click)="addResource()">
                    <span class="material-icons">add</span>
                  </button>
              </div>
                                

                
                
                <div class="d-flex align-items-center justify-content-between py-3">
                  <button type="button" (click)="closeModal()" class="btn btn-outline-danger">Cancel</button>
                  <button type="submit" class="btn btn-outline-dark">Confirm</button>
                  </div>
              </div>
              
              

              
            </div>
          </form>
          
          
          
        
          </div> 
  
 
      
  </div>
</div>




<router-outlet></router-outlet>







