


<mat-toolbar class="toolbar">
    
    <div class="toolBarButton">
        <button (click)="drawer.toggle()" mat-icon-button class="burger">
            <mat-icon>menu</mat-icon>  
        </button>
    </div>
    <h1>ConsTrack</h1>
    <form class="d-flex me-5" action="">
        <input class="form-control me-2" type="search" placeholder="search">
        <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
    <div class="profile-logo dropdown profile">
            
        <button class="btn btn-outline-light dropdown-toggle ms-auto" data-bs-toggle="dropdown"> Admin</button>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="#">a</a></li>
            <li><a class="dropdown-item" href="#">a</a></li>
            <li><a class="dropdown-item" href="#">a</a></li>
        </ul>
        
</div>
    
</mat-toolbar>


<mat-drawer-container class="container" hasBackdrop="false">
    <mat-drawer #drawer class="drawer" mode="side" opened="true">
        <mat-nav-list>
    
            <mat-divider></mat-divider>
            <h2 matSubheader class="py-2 text-center">Application</h2>
            <div>
            <a mat-list-item class="item" routerLink="/admin/home" routerLinkActive="list-item-active">
                <mat-icon class="icon">home</mat-icon>Home
           </a></div>
            <a mat-list-item routerLink="/admin/account" routerLinkActive="list-item-active">
                <mat-icon>account_circle</mat-icon>Account
           </a>
            
        </mat-nav-list>
    </mat-drawer>
    <button (click)="openCreateStaffModal()">Create Staff</button>
<app-create-staff-acct 
        *ngIf="isCreateStaffModalOpen" (close)="closeCreateStaffModal()">
</app-create-staff-acct>

        <button (click)="openCreateClientModal()">Create Client</button>
        <app-create-client-acct 
                *ngIf="isCreateClientModalOpen" (close)="closeCreateClientModal()">
        </app-create-client-acct>
    
<button (click)="logout()">Logout</button>

</mat-drawer-container>


<router-outlet></router-outlet>