<p>admin-dashboard works!</p>


<button (click)="openCreateStaffModal()">Create Staff</button>
<app-create-staff-acct 
        *ngIf="isCreateStaffModalOpen" (close)="closeCreateStaffModal()">
</app-create-staff-acct>

        <button (click)="openCreateClientModal()">Create Client</button>
        <app-create-client-acct 
                *ngIf="isCreateClientModalOpen" (close)="closeCreateClientModal()">
        </app-create-client-acct>
    
<button (click)="logout()">Logout</button>




<router-outlet></router-outlet>

