
<div class ="modal">
    <div class="div modal-content">
        <span class = "close" (click)="closeModal()">&times;</span>

        <div class="container">
        
            
            
            
            
            <div class="card bg-light">
            <article class="card-body mx-auto" style="max-width: 400px;">
               
               
                  <form (ngSubmit)="onSubmit()">

                    <div class="form-group input-group">
                      <label for="update_img">Updated Image:</label>
                      <input placeholder="Update" class="form-control" type="file" (change)="onFileChange($event, 'update_img')" required>
                  </div>
                        

                 
                <div class="d-flex align-items-center justify-content-between py-3">
                <button type="submit" class="btn btn-outline-dark">Submit</button>
                <button type="button" (click)="closeModal()" class="btn btn-outline-danger">Cancel</button>
                </div>


                
                
                                                                           
            </form>
            </article>
            </div> <!-- card.// -->
            
            </div> 
    
   
        
    </div>
</div>




<router-outlet></router-outlet>

