.mat-drawer{
  width: 200px;
  border-radius: 0px 0px 10px;
  box-shadow: 0 0 10px #000000;
}
  
  .mat-drawer-container{
    height: 100%;
  }

  

  .status-complete {
    color: green;
  }
  
  .status-ongoing {
    color: orange;
  }
  
  .status-due {
    color: red;
  }


  .image-container {
    width: 100%; /* Ensures the container takes up full width */
  }
  
  .scrollable-image {
    width: 100%; /* Full width of the container */
    height: 430px; /* Fixed height */
    overflow-y: scroll; /* Adds vertical scroll when the content exceeds the height */
  }
  
  .clickable-image {
    width: 100%; /* Image width will be 100% of the container's width */
    height: auto; /* Keeps the image's aspect ratio */
  }


  .navbar-nav .nav-item .nav-link {
    transition: color 0.3s ease, background-color 0.3s ease;
    margin: 2px;
}

/* Hover Effect */
.navbar-nav .nav-item .nav-link:hover {
    color: #fff; /* Change text color on hover */
    background-color: #101010; /* Change background color on hover */
    border-radius: 4px; /* Optional: adds rounded corners */
}

/* Active Link Highlight */
.navbar-nav .nav-item .nav-link.active {
    color: #fff; /* Change text color for active link */
    background-color: #101010; /* Highlight color for active link */
    border-radius: 4px; /* Optional: adds rounded corners */
}
  
  .btn-grad {
    background-image: linear-gradient(to right, #af0707 0%, #190A05  51%, #870000  100%);
   width: 150px;
   padding: 5px;
   margin: 2px;
    text-align: center;
    transition: 0.5s;
    font-size: 15px;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }
  .btn-grad1 {
    background-image: linear-gradient(to right, #af0707 0%, #190A05  51%, #870000  100%);
   width: 70px;
   padding: 5px;
   margin: 2px;
    text-align: center;
    transition: 0.5s;
    font-size: 15px;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }
  
  .example-viewport {
    height: 400px;
    width: 100%;
    overflow: auto;
  }
  	
/* Table Styles */
.table-wrapper {
  background: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.table-title h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  white-space: nowrap;
  
}

.table th, .table td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
}

.table th {
  background-color: #28282a;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 17px;
}

.table td {
  font-size: 15px;
  white-space: nowrap; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 450;
}

.table tbody tr:hover {
  background-color: #f4f5f7;
  transition: background-color 0.2s;
}

.align-middle {
  vertical-align: middle;
}

    table.table td a.edit {
        color: #FFC107;
        cursor: pointer;
    }
    table.table td a.delete {
        color: #E34724;
        cursor: pointer;
    }
    table.table td i {
        font-size: 19px;
    }
	table.table td a.add i {
        font-size: 24px;
    	margin-right: -1px;
        position: relative;
        top: 3px;
    }    
    table.table .form-control {
        height: 32px;
        line-height: 32px;
        box-shadow: none;
        border-radius: 2px;
    }
	table.table .form-control.error {
		border-color: #f50000;
	}
	table.table td .add {
		display: none;
	}



  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
  }

  .containers{
    width: 100%;
    margin: 0 auto;
  }

  .title{
    margin-bottom: 50px;
    margin-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    position: relative;
  }
  
  
  


  .title p{
    font-style: italic;
    font-weight: 700;
    margin: 0;
  }
  .title h1 span{
    font-weight: 500;
    color: #870000;
    font-size: 30px;
  }
  .title h1{
    font-weight: 500;
    color: #000000;
    font-size: 30px;
  }

  .card{
    margin: 10px;
  }

  .card-main{
    position: relative;
    height: 250px;
    background: #dbdbdb;
    border-radius: 3px;
  }
  .p{
    position: relative;
    height: 215px;
  }
  
  

    .mat-icon{
     color: #0a0b0b;
     margin-top: 3px;
      
    
    }
    .eye{
      color: #0a0b0b;
      margin-top: 10px;
      margin-left: 5px;
       
     
     }

    .mat-mdc-progress-bar.mat-accent{
     --mdc-linear-progress-active-indicator-color: #a30707;
     border-radius: 100px;
    
    }
  ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
      stroke: grey;
  }

    .mat-drawer{
      width: 200px;
    }
    
    .mat-drawer-container{
      height: 100%;
    }
    
    

    .example-h2 {
      margin: 10px;
    }


    
  .projects-container {
   
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    padding: 20px;
  
  }
  
  .cards {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin: 0; /* Remove margin to use gap instead */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center; /* Center the content */
    width: 330px; /* Set the width of the card */
    height: 290px; /* Set the height of the card */
    margin: 10px;
  }
  
  .card-image {
    width: 300px;  /* Set the width of the image */
    height: 230px; /* Set the height of the image */
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 8px;
  }
  
  .project-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  
  }
    
    .example-section {
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
      height: 60px;
    }
    
    .example-margin {
      margin: 0 10px;
    }
    
    .example-card {
      margin-bottom: 10px;
    }
  
    
    .text-box{
      padding: 20px 30px;
      background: rgb(43, 42, 42);
      position: relative;
      border-radius: 10px;
      font-size: 15px;
      color: rgb(255, 255, 255);
      height: 470px;
      
    }
   
    .heighlight
    {
     background-color: rgb(21, 205, 21);
    }
    .heighlights
    {
     background-color: rgb(240, 8, 8);
    }
    .heighlightss
    {
     background-color: orange;
    }


    .progress-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    
    }
    