
<app-stafftoolbar (toggleSidebarForMe)="sideBarToggler()"></app-stafftoolbar>
<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
        <app-staffsidenav></app-staffsidenav>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
        
           <section class="">
            <div class="container">

                
               

                <body >
                    <main>
                      
                        
                       
                        <div class="title" >
                            <h1>{{projectDetails.project_name}}</h1>
                           
    
    
                        </div>
                
                       
                       
                        
                        
                        
                       
                      <div class="title" style="margin-top: -50px;">
                        <h1><span>ACCOMPLISHMENTS</span> TABLE</h1>
                        <hr style="width: 100%; height: 2px; background-color: black; border: none;">


                    </div>
                     
                          
                    </main>

                    <div class="container" style="margin-top: -80px;">
                        <div class="table-wrapper">
                             <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th width="2%">#</th>
                                            <th width="10%">Task Name</th>
                                            <th width="10%">Task Category</th>
                                            <th width="8%">Starting Date</th>
                                            <th width="8%">Estimate Completion Date</th>
                        
                                            <th width="8%">Status</th>
                                            <th width="10%">Resources Used:</th>
                                            <th width="5%">Qty:</th>
                                            <th width="10%">Cost</th>
                                            <th width="10%">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let task of tasks; let i = index;">
                                            <td>{{ i + 1 }}</td>
                                            <td>{{ task.pt_task_name }}</td>
                                            <td>{{ task.pt_task_desc }}</td>
                                            <td>{{ task.pt_starting_date  | date:'yyyy-MM-dd'}}</td>
                                            <td>{{ task.pt_completion_date | date:'yyyy-MM-dd' }}</td>
                                            <td [ngClass]="{
                                                'status-complete': task.pt_status === 'C',
                                                'status-ongoing': task.pt_status === 'OG',
                                                'status-due': task.pt_status === 'D'
                                              }">
                                                {{ getStatusText(task.pt_status) }}
                                              </td>
                                            <td>
                                                <ul>
                                                    <li *ngFor="let resource of task.resources" style="text-align: left; margin-left: -20px;">
                                                        <p><strong>{{ resource.resource_name }}</strong></p>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>
                                                <ul>
                                                    <li *ngFor="let resource of task.resources" style="text-align: left; margin-left: -20px;">
                                                        <p><strong>{{resource.qty}}</strong></p>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>
                                                <ul>
                                                    <li *ngFor="let resource of task.resources" style="text-align: left; margin-left: -20px;">
                                                        <p><strong>{{ resource.unit_cost }}</strong></p>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td> <ul>
                                                <li *ngFor="let resource of task.resources" style="text-align: left; margin-left: -20px;">
                                                    <p><strong>{{ resource.total_cost }}</strong></p>
                                                </li>
                                            </ul></td>
                                        </tr>
                                    </tbody>
                                </table>
                    </div>
                    </div>
                 
                 
                </body>
               
                
               
             
            </div>
            
          
           </section>
           

       
          
            
        
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>