
.Center{
    text-align: center;
    padding:2%;
    margin-left: 25%;
    margin-top: 4px;
    margin-bottom: 200px;
    
    width: 50vw;
    height: 50vh;
}

@media screen and (max-width: 700px) {
    .Center {
        margin-top: 20% ;
        height: 50vh; 
        width: 75vw;
        margin-left: 13%;    /* Increased size for phone screens */
    }
    
    
}

.badge {
    margin-top: -10px;
}
    



.hover-effect:hover {
    background-color: #7a1912; /* Darker shade of the button color */
    color: #fff; /* White text color */
}

.com

.custom-btn{
    padding: 100px 200px;
}


.Title {
    font-size: 2em;
    font-weight: bold;
    color: #000;
}

.logo{
    height: 200px;
    margin-top: -20px;
    margin-bottom: -20px;
}
.con{
    margin: 0px;
    background-size: cover;
    height: 820px;
    background-image: url(../assets/bgbg.jpg);
}