
<app-stafftoolbar (toggleSidebarForMe)="sideBarToggler()"></app-stafftoolbar>
<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
        <app-staffsidenav></app-staffsidenav>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
        
       
        <div class="container-fluid py-4">
            <div class="row">
                <h1 class="headline">Dashboard</h1>
                <p class="text-sm">
                </p>
              <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                  <div class="card-header p-3 pt-2">
                    <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl position-absolute">
                      <mat-icon class="icon-size">recent_actors</mat-icon>
                    </div>
                    <div class="text-end pt-1">
                      <p class="text-sm text-capitalize">Total Users</p>
                      <h1 class="mb-0">1562</h1>
                    </div>
                  </div>
                  <hr class="dark horizontal my-0">
                  <div class="card-footer p-3">
                    <p class="mb-0"></p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                  <div class="card-header p-3 pt-2">
                    <div class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute">
                      <mat-icon class="icon-size">business</mat-icon>
                    </div>
                    <div class="text-end pt-1">
                      <p class="text-sm mb text-capitalize">Total Projects</p>
                      <h1 class="mb-0">{{ projectCount !== null ? projectCount : 'Loading...' }}</h1>
                    </div>
                  </div>
                  <hr class="dark horizontal my-0">
                  <div class="card-footer p-3">
                    <p class="mb-0"></p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                  <div class="card-header p-3 pt-2">
                    <div class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
                      <mat-icon class="icon-size">pending</mat-icon>
                    </div>
                    <div class="text-end pt-1">
                      <p class="text-sm text-capitalize">Pending Projects</p>
                      <h1 class="mb-0">3,462</h1>
                    </div>
                  </div>
                  <hr class="dark horizontal my-0">
                  <div class="card-footer p-3">
                    <p class="mb-0"></p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                  <div class="card-header p-3 pt-2">
                    <div class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
                      <mat-icon class="icon-size">done_boxed</mat-icon>
                    </div>
                    <div class="text-end pt-1">
                      <p class="text-sm text-capitalize">Finished Projects</p>
                      <h1 class="mb-0">3,462</h1>
                    </div>
                  </div>
                  <hr class="dark horizontal my-0">
                  <div class="card-footer p-3">
                    <p class="mb-0"></p>
                  </div>
                </div>
              </div>
             
            </div>
            <div class="row mt-4">
              <div class="col-lg-4 col-md-6 mt-4 mb-4">
                <div class="card z-index-2 ">
                  <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                      <div class="chart">
                        <canvas id=""></canvas>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="container">
                      
            
                    </div>
                    
                    <h6 class="mb-0 ">User's Chart</h6>
                    
                    <hr class="dark horizontal">
                    
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mt-4 mb-4">
                <div class="card z-index-2  ">
                  <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                    <div class="bg-gradient-success shadow-success border-radius-lg py-3 pe-1">
                      <div class="chart">
                        <canvas id="myChart"></canvas>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <h6 class="mb-0 "> Project's Chart </h6>
                    <hr class="dark horizontal">
                    
                  </div>
                </div>
              </div>
              <div class="col-lg-4 mt-4 mb-3">
                <div class="card z-index-2 ">
                  <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                    <div class="bg-gradient-dark shadow-dark border-radius-lg py-3 pe-1">
                      <div class="chart">
                        <canvas id="myChart1"></canvas>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <h6 class="mb-0 ">Completed Tasks</h6>
                    <hr class="dark horizontal">
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-lg-12 col-md-6 mb-md-0 mb-4">
                <div class="card">
                  <div class="card-header pb-0">
                    <div class="row">
                      <div class="col-lg-6 col-7 mb-0">
                        <h1>Projects List Table</h1>
                        
                      </div>
                    </div>
                  </div>
                  <div class="card-body px-0 pb-2">
                    <div class="table-responsive">
                      <table class="table align-items-center mb-0">
                        <thead>
                          <tr>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Site Location</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Client Name</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Starting Date</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Completion Date</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Total Budget</th>
                            
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Progress</th>
                          </tr>
                        </thead>
                        <tbody *ngFor="let project of projects">
                          <tr>
                            <td>
                              <div class="d-flex px-2 py-1">
                                
                                <div class="d-flex flex-column justify-content-center">
                                  <h6 class="mb-0 text-sm">{{ project.site_location }}</h6>
                                </div>
                              </div>
                            </td>
                            <td>
                              <div class="avatar-group mt-2">
                                <h6 class="mb-0 text-sm">{{ project.client.first_name }} {{ project.client.last_name }}</h6>
                                
                              </div>
                            </td>
                            <td class="align-middle text-center text-sm">
                              <span class="mb-0 text-sm"> {{ project.starting_date }} </span>
                            </td>
                            <td class="align-middle text-center text-sm">
                              <span class="mb-0 text-sm"> {{ project.completion_date }} </span>
                            </td>
                            <td class="align-middle text-center text-sm">
                              <span class="mb-0 text-sm"> {{ project.totalBudget }} </span>
                            </td>
                            <td class="align-middle text-center text-sm">
                              <span class="mb-0 text-sm"> {{ project.status }} </span>
                            </td>
                            <td class="align-middle">
                              <div class="progress-wrapper w-75 mx-auto">
                                <div class="progress">
                                  <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                              </div>
                            </td>
                          </tr>
                          
                        </tbody>
                      </table>
                      
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
            <footer class="footer py-4  ">
              <div class="container-fluid">
                <div class="row align-items-center justify-content-lg-between">
                  
                  <div class="col-lg-6">
                    <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                     
                      <li class="nav-item">
                        <a href="" class="nav-link text-muted" target="_blank">About Us</a>
                      </li>
                      <li class="nav-item">
                        <a href="" class="nav-link text-muted" target="_blank">Blog</a>
                      </li>
                      <li class="nav-item">
                        <a href="" class="nav-link pe-0 text-muted" target="_blank">License</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </footer>
          </div>
        
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>