<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
        <app-staffsidenav></app-staffsidenav>
    </mat-drawer>
    <mat-drawer-content>
        <app-stafftoolbar (toggleSidebarForMe)="sideBarToggler()"></app-stafftoolbar>
        <router-outlet></router-outlet>
       
        <div class="projects-container">
            <div *ngFor="let project of projects" class="card project-item" (click)="selectProject(project)">
                <img [src]="'http://localhost:8000' + project.pj_image" alt="Project Image" class="card-image">
                <div class="project-details">
                    <p><strong>Site Location:</strong> {{ project.site_location }}</p>
                </div>
                <div *ngIf="selectedProject === project">
                    <p><strong>Client:</strong> {{ project.client_id }}</p>
                    <p><strong>Completion Date:</strong> {{ project.completion_date }}</p>
                    <p><strong>Starting Date:</strong> {{ project.starting_date }}</p>
                    <p><strong>Total Budget:</strong> {{ project.totalBudget }}</p>
                    <p><strong>Project PDF:</strong></p>
                    <a [href]="'http://localhost:8000' + project.pj_pdf" target="_blank">View PDF</a>
                </div>
            </div>
        </div>
        
        <div class="d-flex align-items-center justify-content-center pb-4">
        </div>
        
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>