
<app-stafftoolbar (toggleSidebarForMe)="sideBarToggler()"></app-stafftoolbar>
<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
        <app-staffsidenav></app-staffsidenav>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
        
       
        <div class="container-fluid py-4" >
            <div class="row">
                <h1 class="headline">Dashboard</h1>
                <p class="text-sm">
                </p>
              <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                  <div class="card-header p-3 pt-2">
                    <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl position-absolute">
                      <mat-icon class="icon-size">recent_actors</mat-icon>
                    </div>
                    <div class="text-end pt-1">
                      <p class="text-sm text-capitalize">Total Clients</p>
                      <h1 class="mb-0">{{ clientCount !== null ? clientCount : 'Loading...' }}</h1>
                    </div>
                  </div>
             
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                  <div class="card-header p-3 pt-2">
                    <div class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute">
                      <mat-icon class="icon-size">business</mat-icon>
                    </div>
                    <div class="text-end pt-1">
                      <p class="text-sm mb text-capitalize">Total Projects</p>
                      <h1 class="mb-0">{{ projectCount !== null ? projectCount : 'Loading...' }}</h1>
                    </div>
                  </div>
                 
                  
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                  <div class="card-header p-3 pt-2">
                    <div class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
                      <mat-icon class="icon-size">pending</mat-icon>
                    </div>
                    <div class="text-end pt-1">
                      <p class="text-sm text-capitalize">Ongoing Projects</p>
                      <h1 class="mb-0">{{ongoing}}</h1>
                    </div>
                  </div>
          
                  
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                  <div class="card-header p-3 pt-2">
                    <div class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
                      <mat-icon class="icon-size">done_boxed</mat-icon>
                    </div>
                    <div class="text-end pt-1">
                      <p class="text-sm text-capitalize">Finished Projects</p>
                      <h1 class="mb-0">{{done}}</h1>
                    </div>
                  </div>
                  
                </div>
              </div>
             
            </div>
            <div class="row mt-4">
              <div class="col-lg-4 col-md-6 mt-4 mb-4">
                <div class="card z-index-2 ">
                  <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                      <div class="chart">
                        <canvas id="myChart2"></canvas>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="container">
                      
            
                    </div>
                    
                    <h6 class="mb-0 ">Client's Chart</h6>
           
                    
                  </div>
                </div>
              </div>
              <div class="col-lg-4 mt-4 mb-3">
                <div class="card z-index-2 ">
                  <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                    <div class="bg-gradient-dark shadow-dark border-radius-lg py-3 pe-1">
                      <div class="chart">
                        <canvas id="myChart"></canvas>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <h6 class="mb-0 ">Completed/Ongoing</h6>
           
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mt-4 mb-4">
                <div class="card z-index-2  ">
                  <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                    <div class="bg-gradient-success shadow-success border-radius-lg py-3 pe-1">
                      <div class="chart">
                        <canvas id="myChart1"></canvas>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <h6 class="mb-0 "> Project's Chart </h6>
           
                    
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-6 mt-4 mb-4">
                <div class="card z-index-2  ">
                  <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                    <div class="bg-gradient-success shadow-success border-radius-lg py-3 pe-1">
                      <div class="chart">
                        <canvas id="myChart12"></canvas>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <h6 class="mb-0 "> History Chart </h6>

                    
                  </div>
                </div>
              </div>
              
            </div>
            
            
          </div>
        
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>