


<mat-nav-list>
    
    <mat-divider></mat-divider>
    <img class="user-image" src="assets/cons.png" alt="Card image cap">
    <h2 matSubheader class="text-center text-dark head">ConsTrack</h2>
    <a mat-list-item routerLink="/client/profile" routerLinkActive="list-item-active">
        <button type="button"  class="btn-grad btn-outline-light mx-md-2 d-flex text-light items"><mat-icon style="margin-left: 5px; color: white;">account_circle</mat-icon> Profile</button>
    </a><mat-divider></mat-divider>
   <a mat-list-item class="item" routerLink="/client/chome" routerLinkActive="list-item-active">
    <div class="d-flex text-dark items"><mat-icon>home</mat-icon>Home</div>
</a><mat-divider></mat-divider>
<a mat-list-item class="item" routerLink="/client/viewproject" routerLinkActive="list-item-active">
<div class="d-flex text-dark items"><mat-icon>assessment</mat-icon>Project Timeline</div>
</a><mat-divider></mat-divider>
<a mat-list-item class="item" routerLink="/client/viewstatus" routerLinkActive="list-item-active">
<div class="d-flex text-dark items"><mat-icon>assignment</mat-icon>View Resources</div>
</a><mat-divider></mat-divider>
   <a mat-list-item routerLink="/client/feedback" routerLinkActive="list-item-active">
    <div class="d-flex text-dark items"><mat-icon>feedback</mat-icon>Feedback</div>
</a><mat-divider></mat-divider>




    
</mat-nav-list>



<router-outlet></router-outlet>