


<mat-nav-list>
    
    <mat-divider></mat-divider>
    <div *ngIf="user && user.client_details"  class="avatar avatar-xl position-relative" >
        <img [src]="'http://localhost:8000/' + user.client_details.company_logo" alt="profile_image"  class="user-image">
      </div>
    <a mat-list-item routerLink="/client/profile" routerLinkActive="list-item-active">
        <button type="button"  class="btn-grad btn-outline-light mx-md-2 d-flex text-light items"><mat-icon style="margin-left: 5px; color: white;">account_circle</mat-icon> Profile</button>
    </a><mat-divider></mat-divider>
   <a mat-list-item class="item" routerLink="/client/chome" routerLinkActive="list-item-active">
    <div class="d-flex text-dark items"><mat-icon>home</mat-icon>Home</div>
</a><mat-divider></mat-divider>

   <a mat-list-item routerLink="/client/feedback" routerLinkActive="list-item-active">
    <div class="d-flex text-dark items"><mat-icon>calendar_today</mat-icon>Appointment</div>
</a><mat-divider></mat-divider>




    
</mat-nav-list>



<router-outlet></router-outlet>