<app-clienttoolbar (toggleSidebarForMe)="sideBarToggler()"></app-clienttoolbar>
<mat-drawer-container>
    <mat-drawer mode="over" [opened]="sideBarOpen">
        <app-clientsidenav></app-clientsidenav>
    </mat-drawer>
    <mat-drawer-content>
        
        <router-outlet></router-outlet>
        
        <div class="form-box">
            <div class="textup">
                <i class="fa fa-solid fa-clock"></i>
                It only takes two minutes!!
            </div>
            <form>
                <label for="uname">
                    <mat-icon>account_circle</mat-icon>
                    Name
                </label>
                <input type="text" id="uname" 
                       name="uname" required>
    
                <label for="email">
                    <mat-icon>email</mat-icon>
                    Email Address
                </label>
                <input type="email" id="email" 
                       name="email" required>
    
                <label for="phone">
                    <mat-icon>phone</mat-icon>
                    Phone No
                </label>
                <input type="tel" id="phone" 
                       name="phone" required>
    
                <label>
                   
                    Do you satisfy with our service?
                </label>
                <div class="radio-group">
                    <input type="radio" id="yes" 
                           name="satisfy" value="yes" checked>
                    <label for="yes">Yes</label>
    
                    <input type="radio" id="no" 
                           name="satisfy" value="no">
                    <label for="no">No</label>
                </div>

                <label for="uname">
                    <i class="fa fa-solid fa-user"></i>
                    Do you want to create an appointment?
                </label>
                <input type="date" id="uname" 
                       name="uname" required>
    
                <label for="msg">
                    <i class="fa-solid fa-comments" 
                       style="margin-right: 3px;"></i>
                    Write your Suggestions:
                </label>
                <textarea id="msg" name="msg" 
                          rows="4" cols="10" required>
                </textarea>
                
                <button type="submit">
                    Submit
                </button>
            </form>
        </div>
        
            

                
          

       
          
            
        
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>