<app-clienttoolbar (toggleSidebarForMe)="sideBarToggler()"></app-clienttoolbar>
<mat-drawer-container>
    <mat-drawer mode="over" [opened]="sideBarOpen">
        <app-clientsidenav></app-clientsidenav>
    </mat-drawer>
    <mat-drawer-content>
        
        <router-outlet></router-outlet>
        
        <div class="form-box">
            <div class="textup">
                <i class="fa fa-solid fa-clock"></i>
                It only takes two minutes!!
            </div>
            <form (ngSubmit)="onSubmit()">
                <div>
                  <label for="staff_id">
                    <i class="fa fa-solid fa-user"></i>
                    Select Staff:
                  </label>
                  <select id="staff_id" [(ngModel)]="staff_id" name="staff_id" required style="text-transform: uppercase;">
                    <option *ngFor="let staff of staffList" [value]="staff.id">
                            {{ staff.extension_name === 'Civil Engineer' || staff.extension_name === 'Engineer' ? 'Engr. ' + staff.first_name : staff.first_name }} 
                            {{ staff.last_name }} 
                            {{ staff.extension_name ===   'Architect' ? 'UAP' : '' }}
                    </option>
                  </select>
                </div>
              
                <div>
                  <label for="appointment_datetime">
                    <i class="fa fa-solid fa-calendar"></i>
                    Do you want to create an appointment?
                  </label>
                  <input type="datetime-local" id="appointment_datetime" [(ngModel)]="appointment_datetime" name="appointment_datetime" [min]="minDateTime" required>
                </div>
              
                <div>
                  <label for="description">
                    <i class="fa-solid fa-comments" style="margin-right: 3px;"></i>
                    Write your Suggestions:
                  </label>
                  <textarea id="description" [(ngModel)]="description" name="description" rows="4" cols="10" required></textarea>
                </div>
              
                <button type="submit">
                  Submit
                </button>
              </form>
        </div>
        

        
            

                
          

       
          
            
        
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>