<app-clienttoolbar (toggleSidebarForMe)="sideBarToggler()"></app-clienttoolbar>
<mat-drawer-container>
    <mat-drawer mode="over" [opened]="sideBarOpen">
        <app-clientsidenav></app-clientsidenav>
    </mat-drawer>
    <mat-drawer-content>
        
        
        
           <div class="container">
            <div class="title">
                <p>Welcome to your Project</p>
                <h1><span>PROJECT</span> BLUEPRINT</h1>

                

                
            </div>
                <div class="card" *ngFor="let project of projects" (click)="selectProject(project)">
                    
                    <img [src]="'http://localhost:8000'+ project.pj_image" alt="profile_image">
                    <p><span style="text-transform:uppercase" class="text-center">{{project.project_name}}</span> </p>
                    
                    
                    

                </div>
           </div>
        
            

           
           
                
          

       
          
            
        
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>