.mat-drawer{
  width: 200px;
}

.mat-drawer-container{
  height: 100%;
}

.btn-grad {
  background-image: linear-gradient(to right, #af0707 0%, #190A05  51%, #870000  100%);
 width: 150px;
 padding: 5px;
 margin: 2px;
  text-align: center;
  transition: 0.5s;
  font-size: 15px;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
}

.containers{
  width: 90%;
  margin: 0 auto;
}
.title{
  margin-bottom: 50px;
  margin-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  position: relative;
  

}

.title::before{
  content: '';
  width: 200px;
  height: 3px;
  background: rgb(40, 40, 40);
  opacity: .6;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.title::after{
  content: '\f005';
  color: rgb(238, 234, 234);
  width: 50px;
  height: 20px;
  line-height: 20px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  background: rgb(155, 151, 151);
  transform: translateX(-50%);
  font-size: 15px;
}

.title p{
  font-style: italic;
  font-weight: 700;
  margin: 0;
}
.title h1 span{
  font-weight: 500;
  color: #870000;
  font-size: 30px;
}
.title h1{
  font-weight: 500;
  color: #000000;
  font-size: 30px;
}

.card{
  margin: 14px;
  margin-bottom: 50px;
}

.card-main{
  position: relative;
  height: 250px;
  background: #dbdbdb;
  border-radius: 3px;
}
.p{
  position: relative;
  height: 215px;
}

.status{
  position: relative;
  background: #870000;
  color: rgb(122, 116, 116);
  font-weight: 400;
  display: block;
  text-transform: uppercase;
  height: 20px;
  width: 70px;
  border-radius: 0 15px 15px 0;
  line-height: 30px;
  font-style: italic;
  left: -9px;
  top: 10px;
}
.status::after{
  border-top: 6px solid #870000;
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;
  border-left: 8px solid transparent;
  border-right: 0px solid transparent;
}
span{
  font-weight: bold;
  margin: 5px;
  margin-left: 20px;
}