
<div class ="modal">
    <div class="div modal-content">
        <span class = "close" (click)="closeModal()">&times;</span>

        <div class="container">
            <form (ngSubmit)="onSubmit()" #clientForm="ngForm">
            <div class="card-body text-center">
                    <h1 class="mt-1 mb-5 pb-1" style="font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Create New Client Account</h1>
                  
                <div class="row">
                    
                  <div class="col-md-4">
                    <label for="example-text-input" class="form-control-label"
                      >Username</label
                    >
                    <input placeholder="Full name" class="form-control" type="text" id="name" [(ngModel)]="client.name" name="name" #nameControl="ngModel" required>
                 <div *ngIf="formSubmitted && nameControl.errors?.['required']" class="text-danger mb-3">Name is required.*</div>
                  </div>
                  <div class="col-md-4">
                    <label for="example-text-input" class="form-control-label"
                      >Email address</label
                    >
                    <input class="form-control" placeholder="Email" type="email" id="email" [(ngModel)]="client.email" name="email" #emailControl="ngModel" required>
               
                <div *ngIf="formSubmitted && emailControl.errors?.['required']" class="text-danger mb-3">Email is required.*</div>
                  </div>

                 
                  
                  <div class="col-md-4">
                    <label for="example-text-input" class="form-control-label"
                      >Password</label
                    >
                    <input class="form-control" placeholder="Password" type="password" id="password" required [(ngModel)]="client.password" name="password" #passwordControl="ngModel" minlength="8" >
                
                
                
                
                <div *ngIf="formSubmitted && passwordControl.errors?.['required']" class="text-danger mb-3">Password is required.*</div>
              
                
                  
                  </div>
                  <div class="col-md-4">
                    <label for="example-text-input" class="form-control-label"
                      >First name</label
                    >
                    <input class="form-control" placeholder="First Name" type="first_name" id="first_name" [(ngModel)]="client.first_name" name="first_name" #fnameControl="ngModel" required>
                <div *ngIf="formSubmitted && fnameControl.errors?.['required']" class="text-danger mb-3">First name is required.*</div>
                  </div>
                  <div class="col-md-4">
                    <label for="example-text-input" class="form-control-label"
                      >Last name</label
                    >
                    <input class="form-control" placeholder="Last Name" type="last_name" id="last_name" [(ngModel)]="client.last_name" name="last_name" #lnameControl="ngModel" required>
                 <div *ngIf="formSubmitted && lnameControl.errors?.['required']" class="text-danger mb-3">Last name is required.*</div>

                 
                  </div>
                  <div class="col-md-4">
                    <label for="example-text-input" class="form-control-label"
                      >Sex</label
                    >
                    <div class="radio-group" style="margin-left: 20px; font-size: 16px;">
                        <input type="radio" id="sex" [(ngModel)]="client.sex" name="sex" #sexControl="ngModel" 
                               name="satisfy" value="M" checked>
                        <label for="yes" style="margin-right: 20px;">Male</label>
        
                        <input type="radio" id="sex" [(ngModel)]="client.sex" name="sex" #sexControl="ngModel" 
                               name="satisfy" value="F">
                        <label for="no">Female</label>
                    </div>
                    <div *ngIf="formSubmitted && sexControl.errors?.['required']" class="text-danger mb-3">Sex is required.*</div>

                 
                  </div>
                  <div class="col-md-4">
                    <label for="example-text-input" class="form-control-label"
                      >Address</label
                    >
                    <input class="form-control" placeholder="Address" type="address" id="address" [(ngModel)]="client.address" name="address" #addressControl="ngModel" required>
                <div *ngIf="formSubmitted && addressControl.errors?.['required']" class="text-danger mb-3">Address is required.*</div>
               
                 
                  </div>

                  <div class="col-md-4">
                    <label for="example-text-input" class="form-control-label"
                      >City</label
                    >
                    <input class="form-control" placeholder="City" type="city" id="city" [(ngModel)]="client.city" name="city" #cityControl="ngModel" required>
                 <div *ngIf="formSubmitted && cityControl.errors?.['required']" class="text-danger mb-3">City is required.*</div>
                
                 
                 
                  </div>

                  <div class="col-md-4">
                    <label for="example-text-input" class="form-control-label"
                      >Country</label
                    >
                    <input class="form-control" placeholder="Country" type="country" id="country" [(ngModel)]="client.country" name="country" #countryControl="ngModel" required>
                 <div *ngIf="formSubmitted && countryControl.errors?.['required']" class="text-danger mb-3">Country is required.*</div>
               
                 
                 
                  </div>

                  <div class="col-md-4">
                    <label for="example-text-input" class="form-control-label"
                      >Zipcode</label
                    >
                    <input class="form-control" placeholder="Zipcode" type="zipcode" id="zipcode" [(ngModel)]="client.zipcode" name="zipcode" #zipcodeControl="ngModel" required>
                 <div *ngIf="formSubmitted && zipcodeControl.errors?.['required']" class="text-danger mb-3">Zipcode is required.*</div>
                
                
                 
                 
                  </div>

                  <div class="col-md-4">
                    <label for="example-text-input" class="form-control-label"
                      >Phone Number</label
                    >
                    <input class="form-control" placeholder="Phone_number" type="tel" id="phone_number" [(ngModel)]="client.phone_number" name="phone_number" #noControl="ngModel" min="0" step="1" data-bind="value:replyNumber" required>
                <div *ngIf="formSubmitted && noControl.errors?.['required']" class="text-danger mb-3">Phone number is required.*</div>
                

                 
                 
                  </div>

                  
                  
                  <div class="d-flex align-items-center justify-content-between py-3">
                    <button type="button" (click)="closeModal()" class="btn btn-outline-danger">Cancel</button>
                    <button type="submit" class="btn btn-outline-dark">Create Client</button>
                    </div>
                </div>
                
                

                
              </div>
            </form>
            
            
            
          
            </div> 
    
   
        
    </div>
</div>




<router-outlet></router-outlet>

