
<app-stafftoolbar (toggleSidebarForMe)="sideBarToggler()"></app-stafftoolbar>
<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
        <app-staffsidenav></app-staffsidenav>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
        
           <section class="">
            <div class="container">

                
               

                <body >
                    <main>
                      
                        
                       
                       
                
                       
                       
                
                        <h4  style="font-weight: bold; margin-left: 400px; margin-right: 400px; margin-top: 10px;"> <mat-progress-bar mode="determinate" [value]="projectDetails.total_used_budget/projectDetails.totalBudget * 100" color="accent"></mat-progress-bar></h4>
                        <div class="d-flex justify-content-center ">
                 
                          <div class="carousel slide" id="carouselExampleIndicators" data-bs-ride="carousel" data-bs-interval="3000">
                              <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                              </div>
                            
                              <div class="carousel-inner">
                                <div class="carousel-item active scrollable-image">
                                  <img [src]="'http://localhost:8000' + projectDetails.pj_image" alt="Clickable Image" class="clickable-image">
                                </div>
                                <div class="carousel-item scrollable-image">
                                  <img [src]="'http://localhost:8000' + projectDetails.pj_image" alt="Project Image" class="clickable-image">
                                </div>
                                <div class="carousel-item scrollable-image">
                                  <img [src]="'http://localhost:8000' + projectDetails.pj_image" alt="Project Image" class="clickable-image">
                                </div>
                              </div>
                            
                              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                              </button>
                            
                              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                              </button>
                            </div>
                      </div>
                        
                        <nav class="navbar navbar-expand-lg navbar-light bg-white py-5" style="margin-top: 20px;">
                          
                          <div class="container">
                              

                              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                              <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 100px;margin-top: -90px;">
                                  <ul class="navbar-nav mb-lg-0 small fw-bolder"*ngIf="projectDetails && projectDetails.id">
                                      <li class="nav-item">
                                          <a class="nav-link" [routerLink]="['/project-details', projectDetails.id]" routerLinkActive="active">PROJECT DETAILS</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" [routerLink]="['/sowa', projectDetails.id]" routerLinkActive="active">SOWA</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" [routerLink]="['/resources', projectDetails.id]" routerLinkActive="active">RESOURCES</a>
                                      </li>
                                  </ul>
                              </div>
                            
                                
                          </div>
                      </nav>
                      <div class="title" style="margin-top: -50px;">
                        <h1><span>ACCOMPLISHMENTS</span> TABLE</h1>

                    </div>
                     
                          
                    </main>

                    <div class="container">
                        <div class="table-wrapper">
                             <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th width="2%">#</th>
                                            <th width="10%">Task Name</th>
                                            <th width="10%">Task Category</th>
                                            <th width="8%">Starting Date</th>
                                            <th width="8%">Estimate Completion Date</th>
                        
                                            <th width="8%">Status</th>
                                            <th width="10%">Resources Used:</th>
                                            <th width="5%">Qty:</th>
                                            <th width="10%">Cost</th>
                                            <th width="10%">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let task of tasks; let i = index;">
                                            <td>{{ i + 1 }}</td>
                                            <td>{{ task.pt_task_name }}</td>
                                            <td>{{ task.pt_task_desc }}</td>
                                            <td>{{ task.pt_starting_date  | date:'yyyy-MM-dd'}}</td>
                                            <td>{{ task.pt_completion_date | date:'yyyy-MM-dd' }}</td>
                                            <td [ngClass]="{
                                                'status-complete': task.pt_status === 'C',
                                                'status-ongoing': task.pt_status === 'OG',
                                                'status-due': task.pt_status === 'D'
                                              }">
                                                {{ getStatusText(task.pt_status) }}
                                              </td>
                                            <td>
                                                <ul>
                                                    <li *ngFor="let resource of task.resources" style="text-align: left; margin-left: -20px;">
                                                        <p><strong>{{ resource.resource_name }}</strong></p>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>
                                                <ul>
                                                    <li *ngFor="let resource of task.resources" style="text-align: left; margin-left: -20px;">
                                                        <p><strong>{{resource.qty}}</strong></p>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>
                                                <ul>
                                                    <li *ngFor="let resource of task.resources" style="text-align: left; margin-left: -20px;">
                                                        <p><strong>{{ resource.unit_cost }}</strong></p>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td> <ul>
                                                <li *ngFor="let resource of task.resources" style="text-align: left; margin-left: -20px;">
                                                    <p><strong>{{ resource.total_cost }}</strong></p>
                                                </li>
                                            </ul></td>
                                        </tr>
                                    </tbody>
                                </table>
                    </div>
                    </div>
                 
                 
                </body>
               
                
               
             
            </div>
            
          
           </section>
           

       
          
            
        
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>