
<div class ="modal">
    <div class="div modal-content">
        <span class = "close" (click)="closeModal()">&times;</span>

        <div class="container" style="max-width:800px;">
     
                
            <form (ngSubmit)="onSubmit()" #clientForm="ngForm">
            <div class="card-body text-center">
                    <h1 class="mt-1 mb-5 pb-1">Create New Staff Account</h1>
                  
                <div class="row">
                    
                  <div class="col-md-4">
                    <label for="example-text-input" class="form-control-label"
                      >Username</label
                    >
                    <input placeholder="Username" class="form-control" type="text" id="name" [(ngModel)]="staff.name" name="name" #nameControl="ngModel" required>
                 <div *ngIf="nameControl.errors?.['required']" class="text-danger mb-3">Name is required.*</div>
                  </div>
                  <div class="col-md-4">
                    <label for="example-text-input" class="form-control-label"
                      >Email address</label
                    >
                    <input class="form-control" placeholder="Email" type="email" id="email" [(ngModel)]="staff.email" name="email" #emailControl="ngModel" required>
               
                <div *ngIf="emailControl.errors?.['required']" class="text-danger mb-3">Email is required.*</div>
                  </div>

                 
                  
                  <div class="col-md-4">
                    <label for="example-text-input" class="form-control-label"
                      >Password</label
                    >
                    <input class="form-control" placeholder="Password" type="password" id="password" required [(ngModel)]="staff.password" name="password" #passwordControl="ngModel" minlength="8" >
                
                
                
                
                <div *ngIf="passwordControl.errors?.['required']" class="text-danger mb-3">Password is required.*</div>
              
              
                  
                  </div>
                  <div class="col-md-4">
                      <label for="example-text-input" class="form-control-label"
                        >First name</label
                      >
                      <input class="form-control" placeholder="First Name" type="first_name" id="first_name" [(ngModel)]="staff.first_name" name="first_name" #fnameControl="ngModel" required>
                      <div *ngIf="fnameControl.errors?.['required']" class="text-danger mb-3">First name is required.*</div>
                  </div>
                  <div class="col-md-4">
                    <label for="example-text-input" class="form-control-label"
                      >Last name</label
                    >
                    <input class="form-control" placeholder="Last Name" type="last_name" id="last_name" [(ngModel)]="staff.last_name" name="last_name" #lnameControl="ngModel" required>
                 <div *ngIf="lnameControl.errors?.['required']" class="text-danger mb-3">Last name is required.*</div></div>

                 <div class="col-md-4">
                    <label for="example-text-input" class="form-control-label"
                      >Title Name:</label
                    >
                    <input class="form-control" placeholder="Engineer or Architect" type="extension_name" id="extension_name" [(ngModel)]="staff.extension_name" name="extension_name" #fnameControl="ngModel" >
                </div>
                
                <div class="col-md-4" *ngIf="staff.extension_name">
                  <label for="license-number-input" class="form-control-label">License Number:</label>
                  <input class="form-control" placeholder="Enter License Number" type="text" id="license_number" [(ngModel)]="staff.license_number" name="license_number" #licenseControl="ngModel" required>
                  <div *ngIf="licenseControl.invalid && (licenseControl.dirty || licenseControl.touched)" class="text-danger">
                    License number is required.
                  </div>
                </div>

                  <div class="col-md-4">
                    <label for="example-text-input" class="form-control-label"
                      >Sex</label
                    >
                    <div class="radio-group" style="margin-left: 20px; font-size: 16px;">
                        <input type="radio" id="sex" [(ngModel)]="staff.sex" name="sex" #sexControl="ngModel" 
                               name="satisfy" value="M" checked>
                        <label for="yes" style="margin-right: 20px;">Male</label>
        
                        <input type="radio" id="sex" [(ngModel)]="staff.sex" name="sex" #sexControl="ngModel" 
                               name="satisfy" value="F">
                        <label for="no">Female</label>
                    </div>
                    <div *ngIf="sexControl.errors?.['required']" class="text-danger mb-3">Sex is required.*</div>

                 
                  </div>
                  <div class="col-md-4">
                    <label for="example-text-input" class="form-control-label"
                      >Address</label
                    >
                    <input class="form-control" placeholder="Address" type="address" id="address" [(ngModel)]="staff.address" name="address" #addressControl="ngModel" required>
                <div *ngIf="addressControl.errors?.['required']" class="text-danger mb-3">Address is required.*</div>
               
                 
                  </div>

                  <div class="col-md-4">
                    <label for="example-text-input" class="form-control-label"
                      >City</label
                    >
                    <input class="form-control" placeholder="City" type="city" id="city" [(ngModel)]="staff.city" name="city" #cityControl="ngModel" required>
                 <div *ngIf="cityControl.errors?.['required']" class="text-danger mb-3">City is required.*</div>
                
                 
                 
                  </div>

                  <div class="col-md-4">
                    <label for="example-text-input" class="form-control-label"
                      >Country</label
                    >
                    <input class="form-control" placeholder="Country" type="country" id="country" [(ngModel)]="staff.country" name="country" #countryControl="ngModel" required>
                 <div *ngIf="countryControl.errors?.['required']" class="text-danger mb-3">Country is required.*</div>
               
                 
                 
                  </div>

                  <div class="col-md-4">
                    <label for="example-text-input" class="form-control-label"
                      >Zipcode</label
                    >
                    <input class="form-control" placeholder="Zipcode" type="zipcode" id="zipcode" [(ngModel)]="staff.zipcode" name="zipcode" #zipcodeControl="ngModel" required>
                 <div *ngIf="zipcodeControl.errors?.['required']" class="text-danger mb-3">Zipcode is required.*</div>
                <div class="text-red-400 text-danger mb-3" *ngIf="passwordControl?.dirty">
                    
                    <div class="block" [ngClass]="{'text-success': passwordControl?.value?.match('(.*[0-9].*)')}">Valid Number</div>
                   
                 </div>
                
                 
                 
                  </div>

                  <div class="col-md-4">
                    <label for="example-text-input" class="form-control-label"
                      >Phone Number</label
                    >
                    <input class="form-control" placeholder="Phone_number" type="tel" id="phone_number" [(ngModel)]="staff.phone_number" name="phone_number" #noControl="ngModel" min="0" step="1" data-bind="value:replyNumber" required>
                <div *ngIf="noControl.errors?.['required']" class="text-danger mb-3">Phone number is required.*</div>
                

                 
                 
                  </div>
                  <div class="col-md-4">
                    <label for="company-select" class="form-control-label">Select Company:</label>
                    <select class="form-control" id="company-select" [(ngModel)]="selectedCompany" name="selectedCompany">
                      <option *ngFor="let company of companies" [value]="company.company_name">{{ company.company_name }}</option>
                      <option value="Other">Other</option>
                    </select>
                  </div>
                  
                  <div *ngIf="selectedCompany === 'Other'">
                    <div class="col-md-4">
                      <label for="company-name-input" class="form-control-label">Input Company Name if not listed:</label>
                      <input class="form-control" placeholder="Company Name" type="text" id="company-name-input" [(ngModel)]="staff.company_name" #companyControl="ngModel" name="company_name" required>
                      <div *ngIf="companyControl.errors?.['required']" class="text-danger mb-3">Company name is required.*</div>
                    </div>
                    
                    <div class="col-md-4">
                      <label for="company-logo-input" class="form-control-label">Company Logo:</label>
                      <input placeholder="Company Logo" class="form-control" type="file" id="company-logo-input" (change)="onFileChange($event, 'company_logo')" matTooltip="Upload photos for starting a task" required>
                    </div>
                  </div>
                  
                  
                  <div class="d-flex align-items-center justify-content-between py-3">
                    <button type="button" (click)="closeModal()" class="btn btn-outline-danger">Cancel</button>
                    <button type="submit" class="btn btn-outline-dark">Create Staff</button>
                    </div>
                </div>
                
                

                
              </div>
            </form>
            
            
            
          
            </div> 

        
    
   
        
    </div>
</div>




<router-outlet></router-outlet>

