<app-clienttoolbar (toggleSidebarForMe)="sideBarToggler()"></app-clienttoolbar>
<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
        <app-clientsidenav></app-clientsidenav>
    </mat-drawer>
    <mat-drawer-content>
        
        <router-outlet></router-outlet>
        
           <section class="">
            <div class="containers">
                <nav class="navbar navbar-expand-lg navbar-light bg-white py-5">
                            
                    <div class="container">
                        
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder"*ngIf="projectDetails && projectDetails.id">
                              <li class="nav-item">
                                  <a class="nav-link" [routerLink]="['/client/clientproject', projectDetails.id]" routerLinkActive="active">PROJECT DETAILS</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" [routerLink]="['/client/viewstatus', projectDetails.id]" routerLinkActive="active">SOWA</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" [routerLink]="['/client/viewproject', projectDetails.id]" routerLinkActive="active">TIMELINE UPDATES</a>
                              </li>
                          </ul>
                      </div>
                    </div>
                </nav>
                <div class="title">
                    <h1><span>PROJECT</span> TIMELINE</h1>

                </div>
               
              
                
                
               
            </div>

        
                
            
            
            
    
           

           </section>
        

           <div class="timeline-container justify-content-between justify-content-center" style="margin-top: -50px;">
            <div class="timeline">
              <div 
                class="task" 
                *ngFor="let task of tasks; let i = index;" 
                [ngClass]="{
                  'complete': task?.pt_status === 'C', 
                  'ongoing': task?.pt_status === 'OG', 
                  'due': task?.pt_status === 'D'
                }"
              >
              <div class="content">
                <div class="row">
                  <div class="col-lg-3" style="margin-left: 20px; font-size: 20px;">
                    <p class="date">Task Category:</p>
                <p class="date">Task Name:</p>
                <p class="date">Status:</p>
                <p class="date">Starting Date:</p>
                <p class="date">Completion Date:</p>


                  </div>
                  <div class="col-lg-5" style="font-size: 20px;">
                 
                <p class="date" style="font-size: 20px;font-weight: bold;">{{task.pt_task_desc}}</p>
                <p class="date" style="font-size: 20px;font-weight: bold;">{{task.pt_task_name}}</p>
                <p class="date" style="font-size: 20px;font-weight: bold;">{{task.pt_status}}</p>
                <p class="date" style="font-size: 20px;font-weight: bold;">{{task.pt_starting_date}}</p>
                <p class="date" style="font-size: 20px;font-weight: bold;">{{task.pt_completion_date}}</p>

                  </div>
                  <div class="col-lg-3" (click)="selecttask(task)">
                    <img [src]="'http://localhost:8000' + task.pt_photo_task" alt="Clickable Image" class="clickable-image" style="width: 250px; height: 143px; margin-left: 60px;">
                             

                  </div>

                </div>
                <!-- Unique id for each carousel -->
                
              </div>
              </div>
              <!-- More tasks can be added here -->
            </div>
          </div>

          
          
            
        

                
          
       
       
          
            
        
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>