.mat-drawer{
  width: 200px;
  border-radius: 0px 0px 10px;
  box-shadow: 0 0 10px #000000;
}
  
  .mat-drawer-container{
    height: 100%;
  }
  
  


  .navbar-nav .nav-item .nav-link {
    transition: color 0.3s ease, background-color 0.3s ease;
    margin: 10px;
}

/* Hover Effect */
.navbar-nav .nav-item .nav-link:hover {
    color: #fff; /* Change text color on hover */
    background-color: #101010; /* Change background color on hover */
    border-radius: 4px; /* Optional: adds rounded corners */
}

/* Active Link Highlight */
.navbar-nav .nav-item .nav-link.active {
    color: #fff; /* Change text color for active link */
    background-color: #101010; /* Highlight color for active link */
    border-radius: 4px; /* Optional: adds rounded corners */
}
 



  

  .title{
    margin-bottom: 50px;
    margin-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    position: relative;
  }

  .title1{
    margin-top: 20px;
    text-align: center;
    position: relative;
  }
  
  
  


  .title p{
    font-style: italic;
    font-weight: 700;
    margin: 0;
  }
  .title h1 span{
    font-weight: 500;
    color: #870000;
    font-size: 30px;
  }
  .title h1{
    font-weight: 500;
    color: #000000;
    font-size: 30px;
  }

  

    
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}
.timeline-container {
  overflow-x: auto;
  
}
.timeline {
 justify-content: center;
 justify-items: center;
  position: relative;
}
.task {
  margin: 40px;
  position: relative;
}
.task::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 4px solid #2196F3;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  z-index: 2;
}
.content {
  background-color: white;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.task.ongoing::after {
  background-color: #D17B0F;
  border-color: #D17B0F;
}
.task.ongoing .content {
  border-top: 4px solid #D17B0F;
}
.task.due::after {
  background-color: #f40303;
  border-color: #f40303;
}
.task.due .content {
  border-top: 4px solid #f40303;
}
.task.complete::after {
  background-color: #3bf403;
  border-color: #3bf403;
}
.task.complete .content {
  border-top: 4px solid #3bf403;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
  flex-shrink: 0;
}
h2 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #333;
  font-size: 1em;
}
.date {
  color: #777;
  font-style: italic;
  font-size: 0.8em;
  margin-bottom: 10px;
}
p {
  margin: 0;
  font-size: 0.9em;
  flex-grow: 1;
}

@media (max-width: 600px) {
  .task {
      flex: 0 0 200px;
      margin-right: 20px;
  }
  h2 {
      font-size: 0.9em;
  }
  .date, p {
      font-size: 0.8em;
  }
}