<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
        <app-clientsidenav></app-clientsidenav>
    </mat-drawer>
    <mat-drawer-content>
        <app-clienttoolbar (toggleSidebarForMe)="sideBarToggler()"></app-clienttoolbar>
        <router-outlet></router-outlet>
        
           <section class="">
            <div class="containers">
                <div class="title">
                    <p>Welcome to your Project</p>
                    <h1><span>PROJECT</span> UPDATE</h1>

                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-main">
                                <div class="status"></div>
                                <div class="project-picture">
                                    <img class="p" src="assets/cons.png" alt="Card image cap">
                                </div>
                            </div>
                            

                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-main">
                                <div class="status"></div>
                                <div class="project-picture">
                                    <img class="p" src="assets/cons.png" alt="Card image cap">
                                </div>
                            </div>
                            

                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-main">
                                <div class="status"></div>
                                <div class="project-picture">
                                    <img class="p" src="assets/cons.png" alt="Card image cap">
                                </div>
                            </div>
                            

                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-main">
                                <div class="status"></div>
                                <div class="project-picture">
                                    <img class="p" src="assets/cons.png" alt="Card image cap">
                                </div>
                            </div>
                            

                        </div>

                    </div>

                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-main">
                                <div class="status"></div>
                                <div class="project-picture">
                                    <img class="p" src="assets/cons.png" alt="Card image cap">
                                </div>
                            </div>
                            

                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-main">
                                <div class="status"></div>
                                <div class="project-picture">
                                    <img class="p" src="assets/cons.png" alt="Card image cap">
                                </div>
                            </div>
                            

                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-main">
                                <div class="status"></div>
                                <div class="project-picture">
                                    <img class="p" src="assets/cons.png" alt="Card image cap">
                                </div>
                            </div>
                            

                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-main">
                                <div class="status"></div>
                                <div class="project-picture">
                                    <img class="p" src="assets/cons.png" alt="Card image cap">
                                </div>
                            </div>
                            

                        </div>

                    </div>

                </div>
                
                

            </div>

           </section>
        
            

                
          

       
          
            
        
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>