
<div class ="modal">
    <div class="div modal-content">
        <span class = "close" (click)="closeModal()">&times;</span>

        <div class="container">
        
            
            
            
            
            <div class="card bg-light">
            <article class="card-body mx-auto" style="max-width: 600px;">
               
               
                <form (ngSubmit)="onSubmit()" #clientForm="ngForm">
                    <div class="card-body">
                        <p class="text-uppercase text-sm mb-0">User Information</p>
                        <div class="row">
                          <div class="col-md-6">
                            <label for="example-text-input" class="form-control-label"
                              >Username</label
                            >
                            <input class="form-control" type="text" value='' />
                          </div>
                          <div class="col-md-6">
                            <label for="example-text-input" class="form-control-label"
                              >Email address</label
                            >
                            <input class="form-control"  type="email" value='' />
                          </div>
                          <div class="col-md-6">
                            <label for="example-text-input" class="form-control-label"
                              >First name</label
                            >
                            <input class="form-control" type="text" value=''/>
                          </div>
                          <div class="col-md-6">
                            <label for="example-text-input" class="form-control-label"
                              >Last name</label
                            >
                            <input class="form-control" type="text" value=''/>
                          </div>
                          <div class="col-md-6">
                            <label for="example-text-input" class="form-control-label"
                              >Sex</label
                            >
                            <input class="form-control" type="text" value='' />
                          </div>
                          
                         
                        </div>
                        <hr class="horizontal dark" />
                        <p class="text-uppercase text-sm mb-0">Contact Information</p>
                        <div class="row">
                          
                          <div class="col-md-6">
                            <label for="example-text-input" class="form-control-label"
                              >Phone Number</label
                            >
                            <input class="form-control" 
                              type="text"
                              value=''
                            />
                          </div>
                          <div class="col-md-6">
                            <label for="example-text-input" class="form-control-label"
                              >Zipcode</label
                            >
                            <input class="form-control" 
                              type="text"
                              value=''
                            />
                          </div>
                          <div class="col-md-4">
                            <label for="example-text-input" class="form-control-label"
                              >Brgy.</label
                            >
                            <input class="form-control"  type="text" value='' />
                          </div>
                          <div class="col-md-4">
                            <label for="example-text-input" class="form-control-label"
                              >City</label
                            >
                            <input class="form-control"  type="text" value='' />
                          </div>
                          <div class="col-md-4">
                            <label for="example-text-input" class="form-control-label"
                              >Country</label
                            >
                            <input class="form-control"  type="text" value='' />
                          </div>
                          
                        </div>
                        <hr class="horizontal dark" />
                        
                      </div> 
                <div class="d-flex align-items-center justify-content-between py-3">
                <button type="submit" class="btn btn-outline-dark">Confirm</button>
                <button type="button" (click)="closeModal()" class="btn btn-outline-danger">Cancel</button>
                </div>
                
                
                                                                           
            </form>
            </article>
            </div> <!-- card.// -->
            
            </div> 
    
   
        
    </div>
</div>




<router-outlet></router-outlet>

