
<div class="container">

<form action="#">
    <h2>Admin Login</h2>
  
        <div>
            <h3>Email</h3>
            <input type="email" [(ngModel)]= "loginObj.email"  name="email" placeholder="Enter Email" required>
        </div>
        <div>
            <h3>Password</h3>
            <input type="text"  [(ngModel)] = "loginObj.password" placeholder="Enter password"  name="password" required>
        </div>
        <br>
        <button type="button" (click)="onLogin()" class="btn btn-primary">Login</button>


</form>
</div>

<router-outlet></router-outlet>