<mat-nav-list>
    
    <div *ngIf="user && user.staff" class="avatar avatar-xl position-relative" >
        <img [src]="'http://localhost:8000/' + user.staff.company_logo" alt="profile_image" class="user-image">
    </div>
    
    
    <mat-divider></mat-divider>

    <a mat-list-item class="item" routerLink="/staff/shome" routerLinkActive="list-item-active">
        <div class="d-flex items"><mat-icon>home</mat-icon>Dashboard</div>
    </a>
    <mat-divider></mat-divider>

    <a mat-list-item class="item" routerLink="/staff/users" routerLinkActive="list-item-active">
        <div class="d-flex items"><mat-icon>recent_actors</mat-icon>Accounts</div>
    </a>
    <mat-divider></mat-divider>

    <a mat-list-item class="item" routerLink="/staff/add" routerLinkActive="list-item-active">
        <div class="d-flex items"><mat-icon>add_box</mat-icon>Manage Projects</div>
    </a>
    <mat-divider></mat-divider>

    <a mat-list-item class="item" routerLink="/staff/documents" routerLinkActive="list-item-active">
        <div class="d-flex items"><mat-icon>description</mat-icon>Portfolio</div>
    </a>
    <mat-divider class="divider"></mat-divider>

    <a mat-list-item class="item" routerLink="/staff/appointment" routerLinkActive="list-item-active">
        <div class="d-flex items"><mat-icon>calendar_today</mat-icon>Appointment</div>
    </a>
    <mat-divider class="divider"></mat-divider>
</mat-nav-list>

<router-outlet></router-outlet>
