

<mat-nav-list>
    
    <mat-divider></mat-divider>
    <img class="user-image" src="assets/cons.png" alt="Card image cap">
    
    
    
   <a mat-list-item routerLink="/staff/profile" routerLinkActive="list-item-active">
    <button type="button"  class="btn-grad btn-outline-light mx-md-2 d-flex text-light items"><mat-icon style="margin-left: 5px; color: white;">account_circle</mat-icon> Profile</button>
</a><mat-divider></mat-divider>
<a mat-list-item class="item" routerLink="/staff/shome" routerLinkActive="list-item-active">
    <div class="d-flex me-5 items"><mat-icon>home</mat-icon>Dashboard</div>
</a><mat-divider></mat-divider>
<a mat-list-item class="item" routerLink="/staff/users" routerLinkActive="list-item-active">
<div class="d-flex me-5 items"><mat-icon>recent_actors</mat-icon>Accounts</div>
</a><mat-divider></mat-divider>
<a mat-list-item class="item" routerLink="/staff/add" routerLinkActive="list-item-active">
<div class="d-flex me-0 items"><mat-icon>add_box</mat-icon>Manage Projects</div>
</a><mat-divider></mat-divider>
   
<a mat-list-item class="item"  routerLink="/staff/documents" routerLinkActive="list-item-active">
<div class="d-flex me-4 items"><mat-icon>description</mat-icon>Portfolio</div>
</a><mat-divider class="divider"></mat-divider>
<div class="profile-logo dropdown profile">
    


</div>


    
</mat-nav-list>



<router-outlet></router-outlet>