
<app-clienttoolbar (toggleSidebarForMe)="sideBarToggler()"></app-clienttoolbar>
<mat-drawer-container>
    <mat-drawer mode="over" [opened]="sideBarOpen">
        <app-clientsidenav></app-clientsidenav>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
       
        
        

        

          <div class="container-fluid">
           
            <div class="card-body">
              <p class="text-uppercase text-sm mb-0">User Information</p>
              <div class="row">
                <div class="col-md-6">
                  <label for="example-text-input" class="form-control-label"
                    >Username</label
                  >
                  <input class="form-control" type="text" value='{{ user.name }}' />
                </div>
                <div class="col-md-6">
                  <label for="example-text-input" class="form-control-label"
                    >Email address</label
                  >
                  <input class="form-control"  type="email" value='{{ user.email }}' />
                </div>
                <div class="col-md-6">
                  <label for="example-text-input" class="form-control-label"
                    >First name</label
                  >
                  <input class="form-control" type="text" value='{{ user.client_details.first_name }}'/>
                </div>
                <div class="col-md-6">
                  <label for="example-text-input" class="form-control-label"
                    >Last name</label
                  >
                  <input class="form-control" type="text" value='{{ user.client_details.last_name }}' />
                </div>
                <div class="col-md-6">
                  <label for="example-text-input" class="form-control-label"
                    >Company</label
                  >
                  <input class="form-control" type="text" value='{{ user.client_details.company_name }}' />
                </div>
                <div class="col-md-6">
                  <label for="example-text-input" class="form-control-label"
                    >Password</label
                  >
                  <button type="button" (click)="openEditSubModal()" class="btn btn-success btn-outline-dark text-light form-control">Edit Password</button>
                  <app-editpass *ngIf="isEditSubModalOpen"
                                  (close)="closeEditSubModal()"></app-editpass>
                </div>
              </div>
              <hr class="horizontal dark" />
              <p class="text-uppercase text-sm mb-0">Contact Information</p>
              <div class="row">
                <div class="col-md-6">
                  <label for="example-text-input" class="form-control-label"
                    >Address</label
                  >
                  <input class="form-control" 
                    type="text"
                    value='{{ user.client_details.address }}'
                  />
                </div>
                <div class="col-md-6">
                  <label for="example-text-input" class="form-control-label"
                    >Phone Number</label
                  >
                  <input class="form-control" 
                    type="text"
                    value='{{ user.client_details.phone_number }}'
                  />
                </div>
                <div class="col-md-4">
                  <label for="example-text-input" class="form-control-label"
                    >City</label
                  >
                  <input class="form-control"  type="text" value='{{ user.client_details.city }}' />
                </div>
                <div class="col-md-4">
                  <label for="example-text-input" class="form-control-label"
                    >Country</label
                  >
                  <input class="form-control"  type="text" value='{{ user.client_details.country }}' />
                </div>
                <div class="col-md-4">
                  <label for="example-text-input" class="form-control-label"
                    >Postal code</label
                  >
                  <input class="form-control"  type="text" value='{{ user.client_details.zipcode }}' />
                </div>
              </div>
              <hr class="horizontal dark" />
              <p class="text-uppercase text-sm">About me</p>
              
            </div>
          </div>

         
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>