.mat-drawer{
    width: 200px;
    border-radius: 0px 0px 10px;
    box-shadow: 0 0 10px #000000;
  }
    
    .mat-drawer-container{
      height: 100%;
    }
    
    .btn-grad {
      background-image: linear-gradient(to right, #af0707 0%, #190A05  51%, #870000  100%);
     width: 150px;
     padding: 5px;
     margin: 2px;
      text-align: center;
      transition: 0.5s;
      font-size: 15px;
      background-size: 200% auto;
      color: white;            
      box-shadow: 0 0 20px #eee;
      border-radius: 10px;
      display: block;
    }
    .btn-grad1 {
      background-image: linear-gradient(to right, #af0707 0%, #190A05  51%, #870000  100%);
     width: 70px;
     padding: 5px;
     margin: 2px;
      text-align: center;
      transition: 0.5s;
      font-size: 15px;
      background-size: 200% auto;
      color: white;            
      box-shadow: 0 0 20px #eee;
      border-radius: 10px;
      display: block;
    }
    
    .example-viewport {
      height: 400px;
      width: 100%;
      overflow: auto;
    }
    
    table {
      width: 100%;
      border-collapse: collapse;
    }
    table, th, td {
        border: 1px solid black;
    }
    th, td {
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #f2f2f2;
    }
    .sub-item {
        padding-left: 20px; /* Indent sub-items */
    }

    .signature-section {
      margin-top: 50px;
      width: 100%;
      display: flex;
        justify-content: space-between;
    }
    .signature-section div {
        text-align: center;
        width: 45%;
    }
    .signature-section .signature-line {
        margin-top: 50px;
        border-top: 1px solid black;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }




    .btn-grad:hover {
      background-position: right center; /* change the direction of the change here */
      color: #fff;
    }
  
    .containers{
      width: 100%;
      margin: 0 auto;
    }
  
    .title{
      margin-bottom: 50px;
      margin-top: 20px;
      padding-bottom: 30px;
      text-align: center;
      position: relative;
    }
    
    
    
  
    .title::before{
      content: '';
      width: 200px;
      height: 3px;
      background: rgb(40, 40, 40);
      opacity: .6;
      position: absolute;
      bottom: 15%;
      left: 50%;
      transform: translateX(-50%);
    }
  
    .title::after{
      content: '\f005';
      color: rgb(238, 234, 234);
      width: 50px;
      height: 20px;
      line-height: 20px;
      position: absolute;
      left: 50%;
      background: rgb(155, 151, 151);
      transform: translateX(-50%);
      font-size: 15px;
    }
  
    .title p{
      font-style: italic;
      font-weight: 700;
      margin: 0;
    }
    .title h1 span{
      font-weight: 500;
      color: #870000;
      font-size: 30px;
    }
    .title h1{
      font-weight: 500;
      color: #000000;
      font-size: 30px;
    }
  
    .card{
      margin: 10px;
    }
  
    .card-main{
      position: relative;
      height: 250px;
      background: #dbdbdb;
      border-radius: 3px;
    }
    .p{
      position: relative;
      height: 215px;
    }
    
    
    
  
  
       body {
          color: #404E67;
          background: #0a0b0b;
          
      }
      .table-wrapper {
          width: 100%;
      font-family: 'Open Sans', sans-serif;
          
          background: #fff;
          padding: 10px;	
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
      }
      
      
      
      
      table.table {
          table-layout: fixed;
          align-items: center;
      }
      table.table tr th, table.table tr td {
          border-color: #e9e9e9;
          align-items: center;
          text-align: center; 
      vertical-align: middle;
      }
      
      
      table.table td a {
          cursor: pointer;
          display: inline-block;
          min-width: 24px;
      }    
      table.table td a.edit {
          color: #FFC107;
      }
      table.table td a.delete {
          color: #E34724;
      }
      table.table td i {
          font-size: 19px;
      }
        
      
      
      table.table td .add {
          display: none;
      }
  
    
      .content{
        border: 50px;
        box-sizing: border-box;
        height: 400px;
        overflow-y: auto;
        margin-top: -55px;
    }

    .mat-drawer{
        width: 200px;
      }
      
      .mat-drawer-container{
        height: 100%;
      }
      
      
      
      .project-details {
        display: flex;
        flex-direction: column;
        align-items: start;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin: -15px;

        
      
      }
     
      
      .mat-mdc-progress-bar.mat-accent{
       --mdc-linear-progress-active-indicator-color: #a30707;
       border-radius: 100px;
      
      }
    ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
        stroke: grey;
    }

      .mat-drawer{
        width: 200px;
      }
      
      .mat-drawer-container{
        height: 100%;
      }
      
      .timeline{
        width: 100%;
       margin-top: -60px;
        position: relative;
      }
      
      .container{
        width: 50%;
        position: relative;
        padding: 10px 20px;
      
      }
      
      .container:nth-child(even){
        right: -25%;
      
      }
      .container:nth-child(odd){
        right: 25%;
      
      }
      .container:nth-child(even)::before{
        content: "";
        position: absolute;
        height: 20px;
        width: 20px;
        margin-top: 220px;
        background: rgb(186, 5, 5);
        top: 0;
        left: -11.8px;
        border-radius: 50%;
        z-index: 10;
      
      }
      .container:nth-child(odd)::before{
        content: "";
        position: absolute;
        height: 20px;
        width: 20px;
        background: rgb(186, 5, 5);
        top: 0;
        margin-top: 220px;
        right: -8.5px;
        border-radius: 50%;
        z-index: 10;
      
      }
      
      .task{
        position: absolute;
        width: 300px;
        height: 220px;
        border-radius: 10%;
        right: 10px;
        top: 10px;
      
        z-index: 10;
      
      }
      .update{
        position: absolute;
        width: 300px;
        height: 220px;
        border-radius: 10%;
        right: 10px;
        top: 240px;
      
        z-index: 10;
      
      }
      
      .project{
        
        border-radius: 3%;
        
      
      }
      
      .text-box{
        padding: 20px 30px;
        background: rgb(43, 42, 42);
        position: relative;
        border-radius: 10px;
        font-size: 15px;
        color: rgb(255, 255, 255);
        height: 470px;
        
      }
      .timeline::after{
        content: "";
        position: absolute;
        right: 50%;
        top: 0;
        margin-top: 230px;
        margin-bottom: -50px;
        height: 75%;
        width: 5px;
        border-radius: 100px;
        background: rgb(43, 42, 42);
        animation: LineAnimated 10s linear forwards;
      
      }
      @keyframes LineAnimated{
        0%{
          height: 0;
        }
        50%{
          height: 50%;
        }
      }
      
      
      .timeline-point-track-container{
        flex: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: -10px;
        margin-left: 5px;
      }
      .timeline-point{
        display: flex;
        align-self: baseline;
        border: 1px solid black;
        width: 100px;
        height: 100px;
        margin-top: 10px;
        background-color: white;
      }
      .timeline-track{
        flex-grow: 1;
        background-color: whitesmoke;
        width: 2px;
      }
      .timeline-date{
        font-size: 14px;
        font-style: italic;
        padding-left: 5px;
      }
      
      .heighlight
      {
       background-color: rgb(21, 205, 21);
       box-shadow: 0 4px 8px gray;
      }
      .heighlights
      {
       background-color: rgb(240, 8, 8);
       box-shadow: 0 4px 8px gray;
      }


      .progress-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      
      }
      