
<app-stafftoolbar (toggleSidebarForMe)="sideBarToggler()"></app-stafftoolbar>
<mat-drawer-container >
    <mat-drawer mode="side" [opened]="sideBarOpen">
        <app-staffsidenav></app-staffsidenav>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
        
           <section class="">
            <div class="container">

                
               

                <body>
                    <main>
                        

                        
                       
                       
                
                       
                        <div class="d-flex justify-content-center" style="background-color: rgb(148, 144, 144); margin-top: 0px;margin-left: -20px; margin-right: -20px;">
                            <div class="carousel slide carousel-fade" id="carouselExampleIndicators" data-bs-ride="carousel" data-bs-interval="4000">
                                
                                <div class="carousel-inner">
                                  <div class="carousel-item active scrollable-image">
                                      <img [src]="'http://localhost:8000' + projectDetails.pj_image" alt="Clickable Image" class="clickable-image">
                                  </div>
                                  <div class="carousel-item scrollable-image">
                                      <img [src]="'http://localhost:8000' + projectDetails.pj_image1" alt="Project Image" class="clickable-image">
                                  </div>
                                  <div class="carousel-item scrollable-image">
                                      <img [src]="'http://localhost:8000' + projectDetails.pj_image2" alt="Project Image" class="clickable-image">
                                  </div>
                              </div>
                               
                            </div>
                        </div>
                          
                          <nav class="navbar navbar-expand-lg navbar-light bg-white py-5">
                            
                            <div class="container">
                                
                                

                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 0px;margin-top: -90px;">
                                   
                                </div>
                                <div class="circle" style="margin-right: -20px; margin-top: -900px;">
                                    <svg>
                                      <circle cx="50" cy="50" r="45" [ngStyle]="{'stroke-dasharray': circumference + 'px'}"></circle>
                                      <circle cx="50" cy="50" r="45" class="progress" [style.stroke-dashoffset]="strokeDashOffset + 'px'"></circle>
                                    </svg>
                                    <div class="percentage" style="font-weight: bold; font-size: 25px; margin-top: 15px; margin-right: 10px;">
                                      {{ usedBudgetPercentage | number: '1.0-0' }}%
                                    </div>
                                  </div>
                                  
                            </div>
                        </nav>
                        
                        
                        <mat-tab-group [(selectedIndex)]="selectedTabIndex" (selectedTabChange)="tabChanged($event)" class="custom-tab-group" style="margin-top: -100px;" >
                            <mat-tab label="DETAILS"> <div class="title" style="margin-top: 40px; overflow-x: hidden;">
                            
                             
                    
                            
                                <div class="col-xxl-12" style="margin-left: 150px; font-family: Verdana, Geneva, Tahoma, sans-serif; " >
                                    <div class="text-center text-xxl-start">
                                        
                                        <div class="grid-container">
                                            <div class="grid-item">
                                                <h4>Project Name:</h4>
                                                <p><span class="highlight">{{projectDetails.project_name}}</span></p>
                                
                                                <h4>Location:</h4>
                                                <p><span class="highlight">{{projectDetails.site_address}}, {{projectDetails.site_city}}, {{projectDetails.site_province}}</span></p>
                                
                                                <h4>Total Budget:</h4>
                                                <p><span class="highlight">PHP {{projectDetails.totalBudget | number: '1.2-2'}}</span></p>
                
                                                <h4>Remaining Budget:</h4>
                                                <p><span class="highlight">Php {{projectDetails.totalBudget - projectDetails.total_used_budget | number: '1.2-2'}}</span></p>
                                            </div>
                                            <div class="grid-item">
                                                <h4>Project Type:</h4>
                                                <p><span class="highlight">{{projectDetails.project_type}}</span></p>
                                
                                                <h4>Starting Date:</h4>
                                                <p><span class="highlight">{{projectDetails.starting_date}}</span></p>
                                
                                                <h4>Target Date Completion:</h4>
                                                <p><span class="highlight">{{projectDetails.completion_date}}</span></p>
                                
                                                <h4>Person In Charge:</h4>
                                                <p><span class="highlight">
                                                    {{ projectDetails.extension_name === 'Civil Engineer' || projectDetails.extension_name === 'Engineer' ? 'Engr. ' + projectDetails.staff_first_name : projectDetails.staff_first_name }} 
                                                    {{ projectDetails.staff_last_name }}{{ projectDetails.extension_name === 'Architect' ? ', UAP' : '' }}
                                                </span></p>
                                
                                                <button *ngIf="projectDetails.staff_id === profileId  && (projectDetails.total_used_budget / projectDetails.totalBudget * 100) >= 95 && projectDetails.status !== 'C' "  class="btn-grad btn-outline-dark mt-5" (click)="handleButtonClick(projectIdNumber2)">
                                                    Complete
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> </mat-tab>
                            <mat-tab label="SOWA" > <app-sowa (openModal)="sideBarOpen = false" (closeModal)="sideBarOpen = true"></app-sowa> </mat-tab>
                            <mat-tab label="TIMELINE"> <app-resourcetable></app-resourcetable> </mat-tab>
                            <mat-tab label="UPDATES"> <app-updates></app-updates> </mat-tab>
                            <mat-tab label="LOGS"> <app-history></app-history> </mat-tab>
                          </mat-tab-group>
                          
                    </main>
                    <div class="row align-items-center">
                
                
                        
                        
                        
                       
                    </div>
                 
                 
                </body>
               
                
               
             
            </div>
            
           
           </section>

           <div class="container" style="margin-top: 40px; font-family: Verdana, Geneva, Tahoma, sans-serif;">
            
        </div>
           

           
      
          
            
        
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>