
<app-stafftoolbar (toggleSidebarForMe)="sideBarToggler()"></app-stafftoolbar>
<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
        <app-staffsidenav></app-staffsidenav>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
        
           <section class="">
            <div class="containers">

                
                <div class="title">
                    
                    <h2>STATEMENT OF WORK ACCOMPLISHMENT</h2>
                    <h1><span>CONSTRACK</span> COMPANY</h1>

                </div>
               
                
                <div class="">
                    <div class="table-wrapper">
                        <div class="table-title">
                            <div class="row">
                                <h1 style="font-weight: bold; margin: 20px; align-items: center;">PROJECT DETAILS</h1>
                                <div class="col-6">
                                    
                                    <div class="m-4" style="font-weight: bold;">
                                    
                                    <h3>Building Type: {{projectDetails.project_name}}</h3>
                                    <h3>Location: {{projectDetails.site_address}}, {{projectDetails.site_city}}, {{projectDetails.site_province}}</h3>
                                    <h3>Total Budget: {{projectDetails.totalBudget}}</h3>
                                    <h3>Target Date Completion: {{projectDetails.completion_date}}</h3>
                                    <h3>Engineer/Architec: {{100000/projectDetails.totalBudget * 100}}</h3>
                                    <h3>Progress Percentage: {{totalAllocatedBudget/projectDetails.totalBudget * 100 | number: '1.2-2'}}%<mat-progress-bar mode="determinate" [value]="totalAllocatedBudget/projectDetails.totalBudget * 100" color="accent"></mat-progress-bar></h3>
                                    
                                    

                                    </div>

                                </div>
                                <div class="col-6">
                                    
                                    <img [src]="'http://localhost:8000' + projectDetails.pj_image" alt="project image" class="project" width="400dvh" height="400dvh">
                                </div>

                               
                               
                               
                                
                            </div>
                        </div>
                        
                    </div>
                </div> 
             
            </div>

            <div class="">
                <div class="table-wrapper">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th width="2%">#</th>
                        <th width="8%">Task Name</th>
                        <th width="10%">Category</th>
                        <th width="4%">Starting Date</th>
                        <th width="4%">Completion Date</th>
                        <th width="4%">Allocated Budget</th>
                        <th width="4%">Status</th>
                        <th width="4%">Document</th>
                        <th width="3%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let task of tasks  let i = index;" >
                        <td>{{ i ++ 1 }}</td>
                        <td>{{ task.pt_task_name }}</td>
                        <td>{{ task.pt_task_desc }}</td>
                        <td>{{ task.pt_starting_date }}</td>
                        <td>{{ task.pt_completion_date }}</td>
                        <td>{{ task.pt_allocated_budget }}</td>
                        <td>{{ task.pt_status }}</td>
                        <td>
                            <p>
                                <a *ngIf="task.pt_file_task" [href]="'http://localhost:8000' + task.pt_file_task" target="_blank">View PDF</a>
                            </p>
                        </td>
                        <td><button class="btn-grad1 btn-outline-dark">View</button> </td>
                    </tr>
                </tbody>
            </table>
            </div>
            </div>
           </section>
           

           <div class="containers">
            <div class="table-wrapper">
                <div class="row">
                <div class="col-sm-10">      
        <h2>Statement of Work Accomplishment</h2></div> 
        <div class="col-sm-2">
            <button (click)="openTaskModal()"  type="button"  class="btn-grad btn-outline-dark">Add Task</button>
<app-addtask 
*ngIf="isTaskOpen"  (close)="closeTaskModal()">
</app-addtask></div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    

                    <th width="4%">Item No.</th>
                    <th width="20%">Description</th>
                    <th width="10%">Project Actual Cost</th>
                    <th width="8%">Previous</th>
                    <th width="8%">This Period</th>
                    <th width="8%">To Date</th>
                    <th width="10%">Percentage of Accomplishment</th>
                    <th width="5%">Action</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let category of categories; let i = index" (click)="selecttask(category)">
                    <tr>
                        <td>{{ toRoman(i + 1) }}</td>
                        <td>{{ category.name }}</td>
                        <td>{{ SortedTask[category.name]?.totalAllocatedBudget || '-'}}</td>
                        <td>{{ SortedTask[category.name]?.previousCost || '-' }}</td>
                        <td>{{ SortedTask[category.name]?.thisPeriodCost || '-' }}</td>
                        <td>{{ SortedTask[category.name]?.toDateCost || '-' }}</td>
                        <td>
                            <div>{{ SortedTask[category.name]?.percentage || 0 }}%</div>
                            <mat-progress-bar mode="determinate" [value]="SortedTask[category.name]?.percentage || 0" color="accent"></mat-progress-bar>
                        </td>
                        <td>
                            <a class="add"  title="Add" data-toggle="tooltip"><i class="material-icons"></i></a>
                            <a class="edit"  title="Edit" data-toggle="tooltip"><i class="material-icons"></i></a>
                           
                            <a class="view" [routerLink]="[category.path]" class="eye"><mat-icon>visibility</mat-icon></a>
                        </td>
                    </tr>
                    <ng-container *ngIf="categorizedTasks[category.name] && categorizedTasks[category.name].length">
                        <tr *ngFor="let task of categorizedTasks[category.name]; let j = index">
                            <td></td>
                            <td class="sub-item">{{ generateSubItemLabel(j) }}. {{ task.pt_task_name }}</td>
                            <td>{{ task.pt_allocated_budget }}</td>
                            <td>{{ task.pt_previous || '-' }}</td>
                            <td>{{ task.pt_this_period || '-' }}</td>
                            <td>{{ task.pt_to_date || '-' }}</td>
                            <td>{{ task.pt_percentage_accomplishment || '-' }}</td>
                            
                        </tr>
                    </ng-container>
                </ng-container>
                <tr>
                    <td colspan="4"><strong>TOTAL</strong></td>
                    <td><strong>{{ totalAllocatedBudget }}</strong></td>
                    <td colspan="3"></td>
                </tr>
            </tbody>
        </table>
        
        <div class="signature-section">
            <div>
                <div class="signature-line"></div>
                
                <div style="margin-left: 140px;">insert here the name</div>
                <div style="margin-left: 140px;">Registered Architect</div>
                <div style="margin-left: 140px;">License No. ADD A TABLE FOR THE LICENSE NUMBER and render here
            </div>
            </div>
            <div>
                <div class="signature-line"></div>
                <div style="margin-left: 140px;">insert here the name</div>
                <div style="margin-left: 140px;">Owner</div>
            </div>
            
        </div>
    </div>

       </div>
       <div class="">
        <div class="table-wrapper">
            <div class="col-sm-10">      
                <h2>Resources Table</h2></div> 
    <table class="table table-bordered">
        <thead>
            <tr>
                <th width="2%">#</th>
                <th width="10%">Task Name</th>
                <th width="4%">Task ID</th>
                <th width="8%">Date</th>
                <th width="8%">Material Used:</th>
                <th width="4%">Qty:</th>
                <th width="4%">Cost</th>
                <th width="4%">Total</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of tasks  let i = index;" >
                <td>{{ i ++ 1 }}</td>
                <td>{{ task.pt_task_name }}</td>
                <td>1</td>
                <td>{{ task.pt_starting_date }}</td>
                <td>cement</td>
                <td>2</td>
                <td>32</td>
                <td>64</td>
                
           
            </tr>
        </tbody>
    </table>
    </div>
    </div>
          
            
        
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>