
<app-stafftoolbar (toggleSidebarForMe)="sideBarToggler()"></app-stafftoolbar>
<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
        <app-staffsidenav></app-staffsidenav>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
        
           <section class="">
            <div class="containers">

                
                <div class="title">
                    
                    <h2>STATEMENT OF WORK ACCOMPLISHMENT</h2>
                    <h1><span>CONSTRACK</span> COMPANY</h1>

                </div>
                <div class="content">
                   
                        <div class="row">
                         
                          <div class="col-12 col-xl-12">
                            <div class="card card-plain h-100">
                              
                              
                                
                                <div class="row">
                                    <div>
                                        <h2>Timeline </h2>
                                        <p class="heighlight">Accomplished</p>
                                        <p class="heighlights text-light">Done Late</p>
                                    </div>
                                  <div class="col-md-12">
                                   
                                    <div class="timeline">
                                        
                                        <div class="">
                                            
                                          </div>
                                        <div *ngFor="let item of events" class="timeline-event ">
                            
                                            
                                            
                            
                                           <div class="cards project-item">
                                                        <div class="project-details">
                                                            <span>
                                                                {{item.content}}
                                                            </span>
                                                            
                                                       
                                                            
                                                        </div>
                                                        
                                            </div>
                                            <div class="timeline-point-track-container">
                                                <div class="timeline-point" [ngClass]="item?.status === 'R' ? 'heighlight' : '' || item?.status === 'N' ? 'heighlights' : '' "></div>
                                                <div class="timeline-track" [ngClass]="item?.status === 'R' ? 'heighlight' : '' || item?.status === 'N' ? 'heighlights' : '' "></div>
                                                
                                                
                                            </div>
                                            <div class="cardss card-plain h-100">
            
                                                <div class="row">
                                                    
                                                    <div class="col-md-5">
                                                        
                                                        <div class="project-details">
                                                            
                                                            <img class="user-image" src="assets/bg.jpg" alt="Card image cap"  class="card-image">
                                                       
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <div class="project-details">
                                                            <img class="user-image" src="assets/bg.jpg" alt="Card image cap"  class="card-image">
                                                        
                                                            
                                                       
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        
                                                            <div class="project-details">
                                                                <span>
                                                                    {{item.content}}
                                                                </span>
                                                                <span class="timeline-date">
                                                                    {{item.date}}
                                                                </span>
                                                                <p>Budget used: 123123</p>
                                                                <p>Accomplished Date: {{item.date}}</p>
                                                                <p>Target Date Date: {{item.date}}</p>
                                                           
                                                                
                                                            </div>
                                                    </div>
                                                  </div>
                                              
                                                            
                                                </div>
                            
                                                
                                                    
                                            
                                    
                                        </div>
                                    </div>
                                  </div>
                                 
                                  
                                   
                                 
                                </div>
                                <hr class="horizontal dark" />
                                
                                
                              
                            </div>
                          </div>
                          
                          
                        </div>
                      
                    
                </div>
                <div class="container">
                    <div class="table-wrapper">
                        <div class="table-title">
                            <div class="row">
                                <div class="col-sm-6"><h1 style="font-weight: bold;">PROJECT DETAILS</h1></div>
                               
                                <div class="col-sm-2">
                                    <button (click)="openTaskModal()"  type="button"  class="btn-grad btn-outline-dark">Add Task</button>
                <app-addtask 
                        *ngIf="isTaskOpen"  (close)="closeTaskModal()">
                </app-addtask>
                                </div>
                                <div class="col-sm-2" (click)="selectProject(project)">
                                    <h1>project timeline</h1>
                                    
                                </div>
                                
                            </div>
                        </div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="3%">ID</th>
                                    <th width="4%">Item No.</th>
                                    <th width="20%">Description</th>
                                    <th width="10%">Project Actual Cost</th>
                                    <th colspan="3" width="17%">Percentage of Accomplishment</th>
                                    <th colspan="3" width="17%">Cost of Accomplishment</th>
                                    <th width="5%"></th>

                                    

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Previous</td>
                                    <td>This Period</td>
                                    <td>To Date</td>
                                    <td>Previous</td>
                                    <td>This Period</td>
                                    <td>To Date</td>
                                    
                                </tr>
                                  
                                  
                            </tbody>

                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>General Requirements</td>
                                    <td>1</td>
                                    <td>100%</td>
                                    <td>100%</td>
                                    <td>100%</td>
                                    <td>100%</td>
                                    <td>100%</td>
                                    <td>100%</td>
                                    <td>
                                        <a class="add"  title="Add" data-toggle="tooltip"><i class="material-icons"></i></a>
                                        <a class="edit"  title="Edit" data-toggle="tooltip"><i class="material-icons"></i></a>
                                       
                                        <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>Site Works</td>
                                    <td>1</td>
                                    <td>100%</td>
                                    <td>100%</td>
                                    <td>100%</td>
                                    <td>100%</td>
                                    <td>100%</td>
                                    <td>100%</td>
                                    <td>
                                        <a class="add"  title="Add" data-toggle="tooltip"><i class="material-icons"></i></a>
                                        <a class="edit"  title="Edit" data-toggle="tooltip"><i class="material-icons"></i></a>
                                       
                                        <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>Architectural</td>
                                    <td>1</td>
                                    <td>100%</td>
                                    <td>100%</td>
                                    <td>100%</td>
                                    <td>100%</td>
                                    <td>100%</td>
                                    <td>100%</td>
                                    <td>
                                        <a class="add"  title="Add" data-toggle="tooltip"><i class="material-icons"></i></a>
                                        <a class="edit"  title="Edit" data-toggle="tooltip"><i class="material-icons"></i></a>
                                       
                                        <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons"></i></a>
                                    </td>
                                </tr>
                                  
                            </tbody>
                        </table>
                    </div>
                </div> 
             
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        
                        <th>Task Name</th>
                        <th>Category</th>
                        <th>Starting Date</th>
                        <th>Completion Date</th>
                        <th>Allocated Budget</th>
                        <th>Status</th>
                        <th>Photo</th>
                        <th>Document</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let task of tasks">
                        <td>{{ task.pt_task_name }}</td>
                        <td>{{ task.pt_task_desc }}</td>
                        <td>{{ task.pt_starting_date }}</td>
                        <td>{{ task.pt_completion_date }}</td>
                        <td>{{ task.pt_allocated_budget }}</td>
                        <td>{{ task.pt_status }}</td>
                        <td>
                           
                           
                            <img *ngIf="task.pt_photo_task" [src]="'http://localhost:8000' + task.pt_photo_task" alt="Task Photo" loading="lazy" width="100" height="100">
                          
                        </td>
                        <td>
                            <p>
                                <a *ngIf="task.pt_file_task" [href]="'http://localhost:8000' + task.pt_file_task" target="_blank">View PDF</a>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>

           </section>
           

                
        <h2>Statement of Work Accomplishment</h2>
        <table>
            <thead>
                <tr>
                    <th>Item No.</th>
                    <th>Description</th>
                    <th>Cost</th>
                    <th>Previous</th>
                    <th>This Period</th>
                    <th>To Date</th>
                    <th>Percentage of Accomplishment</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let category of categories; let i = index">
                    <tr>
                        <td>{{ toRoman(i + 1) }}</td>
                        <td>{{ category }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <ng-container *ngIf="categorizedTasks[category] && categorizedTasks[category].length">
                        <tr *ngFor="let task of categorizedTasks[category]; let j = index">
                            <td></td>
                            <td class="sub-item">{{ generateSubItemLabel(j) }}. {{ task.pt_task_name }}</td>
                            <td>{{ task.pt_allocated_budget }}</td>
                            <td>{{ task.pt_previous || '-' }}</td>
                            <td>{{ task.pt_this_period || '-' }}</td>
                            <td>{{ task.pt_to_date || '-' }}</td>
                            <td>{{ task.pt_percentage_accomplishment || '-' }}</td>
                        </tr>
                    </ng-container>
                </ng-container>
            </tbody>
        </table>
        
        <div class="signature-section">
            <div>
                <div class="signature-line"></div>
                <div>insert here the name</div>
                <div>Registered Architect</div>
                <div>License No. ADD A TABLE FOR THE LICENSE NUMBER and render here </div>
            </div>
            <div>
                <div class="signature-line"></div>
                <div>insert here the name</div>
                <div>Owner</div>
            </div>
        </div>
       
          
            
        
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>