<body class="constract" style="background-image: url('/assets/contact.jpg'); background-size: 100% auto; background-repeat: no-repeat; background-position: center;">

        
    <header>
        <div class="logo">Construction Company</div>
        <nav class="nav">
            <ul>
                <li><a routerLink="/Constrack/website">Home</a></li>
                <li><a routerLink="/Constrack/website/portfolio">Projects</a></li>
                <li><a routerLink="/Constrack/website/goal">About Us</a></li>
                <li><a routerLink="/Constrack/website/goal">Contact</a></li>
            </ul>
        </nav>
    </header>

</body>
