<app-stafftoolbar (toggleSidebarForMe)="sideBarToggler()"></app-stafftoolbar>
<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
        <app-staffsidenav></app-staffsidenav>
    </mat-drawer>
    <mat-drawer-content>
        
        <router-outlet></router-outlet>
        

        
        

        <iframe 
        src="https://drive.google.com/file/d/1KPNcdwdiklgq2sRx5g3TzECANLfebIT4/preview?autoplay=1" 
        width="100%" 
        height="100%" 
        allow="autoplay" 
        scrolling="yes">
      </iframe>

            
        
      <div class="projects-container">

        
        <div class="cards project-item" *ngFor="let project of completeItems">
            <div *ngIf="project.status === 'Complete'">
                <img [src]="'http://localhost:8000' + project.pj_image" alt="Project Image" class="card-image">
                <p>Project Type: {{ project.project_name }} </p>
              <p>Status: {{ project.status }}</p>
            
                 
                    <p>Starting Date: {{ project.starting_date }} </p>
                    <p>Completion Date: {{ project.completion_date }} </p>
                    <p>Total Budget: {{ project.totalBudget }} </p>
                   
            </div>
          </div>
        </div>
          
            
                
                <router-outlet></router-outlet>
            
        
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
