<app-stafftoolbar (toggleSidebarForMe)="sideBarToggler()"></app-stafftoolbar>
<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
        <app-staffsidenav></app-staffsidenav>
    </mat-drawer>
    <mat-drawer-content>
        
        <router-outlet></router-outlet>
        <div class="row">
            <div class="container-fluid align-items-center">

                <div class="title">
                    <p>Welcome to your Projects</p>
                    <h1><span>PROJECT</span> LISTS</h1>      
                </div>
                <div class="align-items-center">         
                </div>
                  
                <div class="col-12 col-xl-6">
                    
                    
                  </div>
                </div>

            
          
         
          
          
        </div>
        

        
        

            
        <div class="projects-container" style="margin-top: -20px;">
            
            
            <div *ngFor="let project of projects | filter:searchText" class="cards project-item" (click)="selectProject(project)">
                <img [src]="'http://localhost:8000' + project.pj_image" alt="Project Image" class="card-image">
                <div class="project-details">
                    <p>Project Type: {{ project.project_name }} </p>
                    <p>Client Name: {{ project.client.first_name }} {{ project.client.last_name }} </p>
                    <p>Contact Number: {{ project.client.phone_number }} </p>
                    <p>Starting Date: {{ project.starting_date }} </p>
                    <p>Completion Date: {{ project.completion_date }} </p>
                    <p>Total Budget: {{ project.totalBudget }} </p>
                    <p>Project PDF:
                        <a *ngIf="project.pj_pdf" [href]="'http://localhost:8000' + project.pj_pdf" target="_blank">View PDF</a></p>
                   
                </div>
                
            </div>
        </div>
       
        <div class="projects-container">
            
        </div>
          
            
                
                <router-outlet></router-outlet>
            
        
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>