

    
                  
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Task Name</th>
                        <th>Starting Date</th>
                        <th>Completion Date</th>
                        <th>Status</th>
                        <th>Category</th>
                        <th>Day</th>
                        <th>Uploaded at</th>
                        <th>Image</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Excation</td>
                        <td>12/12/12</td>
                        <td>12/12/12</td>
                        <td>OG</td>
                        <td>Site Works</td>
                        <td>Backhoe loader</td>
                        <td>2</td>
                        <td><img src="assets/bg.jpg" alt="" style="width:70px; height: 40px;" ></td>
                       
                        
                        
                    </tr>
                </tbody>
            </table>
      
         
              
        
      