<app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>
<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
        <app-sidenav></app-sidenav>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
        <div class="d-flex align-items-center justify-content-between py-3 ">
           
            <button (click)="openCreateStaffModal()"  type="button"  class="btn-grad btn-outline-dark mx-md-4">Create Staff</button>
            <app-create-staff-acct 
                    *ngIf="isCreateStaffModalOpen" (close)="closeCreateStaffModal()">
            </app-create-staff-acct>
            <button (click)="openCreateClientModal()"  type="button"  class="btn-grad btn-outline-dark mx-md-4">Create Client</button>
                <app-create-client-acct 
                        *ngIf="isCreateClientModalOpen" (close)="closeCreateClientModal()">
                </app-create-client-acct> 
            

                
          </div>

       
          <div class="d-flex align-items-center justify-content-center pb-4">
                </div>
            
        
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>