<app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>
<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
        <app-sidenav></app-sidenav>
    </mat-drawer>
    <mat-drawer-content>
        
        <router-outlet></router-outlet>
        <div class="row">
            <div class="container-fluid align-items-center">

                <div class="title">
                    <p>Welcome to your Projects</p>
                    <h1><span>PROJECT</span> LISTS</h1>      
                </div>
                
                  
               
                </div>
          
             

        
          
          
        </div>
        

        
        

            
        <div class="projects-container" style="margin-top: -20px;">
            
            
            <div *ngFor="let project of projects | filter:searchText" class="cards project-item">
                <img [src]="'http://localhost:8000' + project.pj_image" alt="Project Image" class="card-image">
                <div class="project-details">
                    <p><strong>Site Location:</strong> {{ project.site_address }}, {{ project.site_city }}, {{ project.site_province }}</p>
                    <p><strong>Client Name:</strong> {{ project.client.first_name }} {{ project.client.last_name }}</p>
                    <p><strong>Contractor Name:</strong> {{ project.completion_date }}</p>
                    <p><strong>Status:</strong> {{ project.status }}</p>
                    <p><strong>Project PDF:</strong>
                        <a *ngIf="project.pj_pdf" [href]="'http://localhost:8000' + project.pj_pdf" target="_blank">View PDF</a></p>
                  
                </div>
                
            </div>
        </div>
       
        <div class="projects-container">
            
        </div>
          
            
                
                <router-outlet></router-outlet>
            
        
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>