

        <mat-nav-list>
    
            <mat-divider></mat-divider>
            <img class="user-image" src="assets/cons.png" alt="Card image cap">
            <h2 matSubheader class="text-center text-dark">ConsTrack</h2>
            
            <a mat-list-item routerLink="/admin/profile" routerLinkActive="list-item-active">
               <button type="button"  class="btn-grad btn-outline-light mx-md-2 d-flex text-light items"><mat-icon style="margin-left: 5px; color: white;">account_circle</mat-icon> Profile</button>
           </a><mat-divider></mat-divider>
           <a mat-list-item class="item" routerLink="/admin/home" routerLinkActive="list-item-active">
            <div class="d-flex me-5 text-dark items"><mat-icon>home</mat-icon>Home</div>
       </a>
       <a mat-list-item class="item" routerLink="/admin/accounts" routerLinkActive="list-item-active">
        <div class="d-flex me-5 text-dark items"><mat-icon>account_box</mat-icon>Accounts</div>
   </a>
        <a mat-list-item class="item" routerLink="/admin/add" routerLinkActive="list-item-active">
        <div class="d-flex me-4 text-dark items"><mat-icon>add_box</mat-icon>Add Project</div>
   </a>
           <a mat-list-item class="item"  routerLink="/admin/task" routerLinkActive="list-item-active">
            <div class="d-flex me-5 text-dark items"><mat-icon>assignment</mat-icon>Tasks</div>
       </a>
       <a mat-list-item  class="item" routerLink="/admin/document" routerLinkActive="list-item-active">
        <div class="d-flex me-4 text-dark items"><mat-icon>description</mat-icon>Documents</div>
   </a>
       <div class="profile-logo dropdown profile">
            
        
        
</div>
       
       
            
        </mat-nav-list>
  


<router-outlet></router-outlet>