<app-clienttoolbar (toggleSidebarForMe)="sideBarToggler()"></app-clienttoolbar>
<mat-drawer-container>
    <mat-drawer mode="over" [opened]="sideBarOpen">
        <app-clientsidenav></app-clientsidenav>
    </mat-drawer>
    <mat-drawer-content>
        
        
        
        <div class="title">
                    
          
            <h1><span>Project</span> Resources</h1>

        </div>


        <div class="d-flex align-items-center justify-content-center pb-4">
          <p class="mb-0 me-2">Do you want to see updates?</p>
          <button  type="button"  class="btn btn-outline-primary" routerLink="/Constrack/website" routerLinkActive="">View Updates</button>
        </div>
        
  
           
                  <table class="table table-bordered">
                      <thead>
                          <tr>
                              <th width="2%">#</th>
                              <th width="10%">Task Name</th>
                              <th width="8%">Date</th>
                              <th width="8%">Status</th>
                              <th width="8%">Resources Used:</th>
                              <th width="4%">Qty:</th>
                              <th width="4%">Cost</th>
                              <th width="4%">Total</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let task of tasks; let i = index;">
                              <td>{{ i + 1 }}</td>
                              <td>{{ task.pt_task_name }}</td>
                              <td>{{ task.pt_starting_date }}</td>
                              <td>{{ task.pt_status }}</td>
                              <td>
                                  <ul>
                                      <li *ngFor="let resource of task.resources">
                                          <p><strong>{{ resource.resource_name }}</strong></p>
                                      </li>
                                  </ul>
                              </td>
                              <td>
                                  <ul>
                                      <li *ngFor="let resource of task.resources">
                                          <p><strong>{{ resource.qty }}</strong></p>
                                      </li>
                                  </ul>
                              </td>
                              <td>
                                  <ul>
                                      <li *ngFor="let resource of task.resources">
                                          <p><strong>{{ resource.unit_cost }}</strong></p>
                                      </li>
                                  </ul>
                              </td>
                              <td> <ul>
                                  <li *ngFor="let resource of task.resources">
                                      <p><strong>{{ resource.total_cost }}</strong></p>
                                  </li>
                              </ul></td>
                          </tr>
                      </tbody>
                  </table>
      
        
            

                
          

       
          
            
        
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>