
<body>
    <div>
       
   <header>
       <div class="logo">Construction Company</div>
       <nav>
           <ul>
               <li><a routerLink="/Constrack/website">Home</a></li>
               <li><a routerLink="/Constrack/website/portfolio">Projects</a></li>
               <li><a routerLink="/Constrack/website/goal">About Us</a></li>
               <li><a routerLink="/Constrack/website/goal">Contact</a></li>
           </ul>
       </nav>
   </header>
   
</div>
   <img src="/assets/prom.jpg" alt="" style="width: 100%; height: auto; display: block; margin: 0 auto; margin-top: 0px;">
   <img src="/assets/project.jpg" alt="" style="width: 100%; height: auto; display: block; margin: 0 auto;">
   <img src="/assets/project1.jpg" alt="" style="width: 100%; height: auto; display: block; margin: 0 auto;">
   <img src="/assets/project2.jpg" alt="" style="width: 100%; height: auto; display: block; margin: 0 auto;">
   <img src="/assets/project3.jpg" alt="" style="width: 100%; height: auto; display: block; margin: 0 auto;">
   <img src="/assets/project4.jpg" alt="" style="width: 100%; height: auto; display: block; margin: 0 auto;">
   <img src="/assets/project5.jpg" alt="" style="width: 100%; height: auto; display: block; margin: 0 auto;">
   <img src="/assets/project6.jpg" alt="" style="width: 100%; height: auto; display: block; margin: 0 auto;">
   <img src="/assets/project7.jpg" alt="" style="width: 100%; height: auto; display: block; margin: 0 auto;">
   <img src="/assets/project8.jpg" alt="" style="width: 100%; height: auto; display: block; margin: 0 auto;">
   <img src="/assets/project9.jpg" alt="" style="width: 100%; height: auto; display: block; margin: 0 auto;">


</body>