





<div class ="modal">
  <div class="div modal-content">


      <div class="container">
          <form (ngSubmit)="onSubmit()" #clientForm="ngForm">
          <div class="card-body">
                  <h3 class="mt-1 mb-5 pb-1 form-control-label" style="font-size: 20px;" >Add New Category</h3>
                
              <div class="row" style="margin-top: -40px;">
                  
                
                <mat-form-field appearance="outline" class="mb-4 w-10">
                 
                  <mat-label>Name</mat-label>
                  <input matInput placeholder="Category Name" type="text" id="category_name" [(ngModel)]="category.category_name" name="category_name" #nameControl="ngModel"  required>
                 
                 </mat-form-field>
                
                
                

                
                <mat-form-field appearance="outline" floatLabel="always">
                  <mat-label>Estimated Budget</mat-label>
                  <input matInput placeholder="Category Budget" type="number" id="category_budget" [(ngModel)]="category.c_allocated_budget" name="category_budget" #nameControl="ngModel" required>
                  <span matTextPrefix>₱&nbsp;</span>
                  <span matTextSuffix></span>
                </mat-form-field>
                                

                
                
                <div class="d-flex align-items-center justify-content-between py-3">
                  <button type="button" (click)="closeModal()" class="btn btn-outline-dark">Cancel</button>
                  <button type="submit" class="btn btn-danger">Save Changes
                  </button>
                  </div>
              </div>
              
              

              
            </div>
          </form>
          
          
          
        
          </div> 
  
 
      
  </div>
</div>




<router-outlet></router-outlet>





