
<div class ="modal">
    <div class="div modal-content">
        <span class = "close" (click)="closeModal()">&times;</span>

        <div class="container">
        
            
            
            
            
            <div class="card bg-light">
            <article class="card-body mx-auto" style="max-width: 600px;">
               
               
                <form (ngSubmit)="onSubmit()" #clientForm="ngForm">
                    <div class="card-body">
                        <p class="text-uppercase text-sm mb-0">SOWA Details</p>
                        <div class="row">
                          <div class="col-md-6">
                            <label for="example-text-input" class="form-control-label"
                              >Category Name</label
                            >
                            <input class="form-control" type="text"  id="category_name" name="category_name"
                             [(ngModel)]="category.category_name" #nameControl="ngModel" required />

                            
                          </div>
                          <div class="col-md-6">
                            <label for="example-text-input" class="form-control-label"
                              >Budget</label
                            >
                            <input class="form-control" type="text"  id="category_name" name="category_name"
                            [(ngModel)]="category.c_allocated_budget" #nameControl="ngModel" required />
                          </div>
                          
                        
                          
                        </div>
                        
                        <hr class="horizontal dark" />
                        
                      </div> 
                <div class="d-flex align-items-center justify-content-between py-3">
                <button type="submit" class="btn btn-outline-dark">Confirm</button>
                <button type="button" (click)="closeModal()" class="btn btn-outline-danger">Cancel</button>
                </div>
                
                
                                                                           
            </form>
            </article>
            </div> <!-- card.// -->
            
            </div> 
    
   
        
    </div>
</div>




<router-outlet></router-outlet>

