<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
        <app-staffsidenav></app-staffsidenav>
    </mat-drawer>
    <mat-drawer-content>
        <app-stafftoolbar (toggleSidebarForMe)="sideBarToggler()"></app-stafftoolbar>
        <router-outlet></router-outlet>
        <div class="d-flex align-items-center justify-content-between py-3 ">
           
        
            <button mat-button (click)="openProjectForm()">Add Project</button>
                
                
          </div>

       
          <div class="d-flex align-items-center justify-content-center pb-4">
                </div>
            
        
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>