
<app-stafftoolbar (toggleSidebarForMe)="sideBarToggler()"></app-stafftoolbar>
<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
        <app-staffsidenav></app-staffsidenav>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
       
        
        

        

          <div class="container-fluid px-2 px-md-4">
            <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('https://images.unsplash.com/photo-1531512073830-ba890ca4eba2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=80');">
              <span class="mask  bg-gradient-primary  opacity-6"></span>
            </div>
            <div class="card card-body mx-3 mx-md-4 mt-n6">
              <div class="row gx-4 mb-2">
                <div class="col-auto">
                  <div class="avatar avatar-xl position-relative" style="width: 100px;">
                    <img src="assets/cons.png" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
                  </div>
                </div>
                <div class="col-auto my-auto">
                  <div class="h-100">
                    <h5 class="mb-0">
                        Name: {{ user.name }}
                    </h5>
                    <p class="mb-0 font-weight-normal text-sm">
                      Position: Staff of Company
                    </p>
                  </div>
                </div>
                
              </div>
              <div class="row">
                <div class="row">
                 
                  <div class="col-12 col-xl-12 m-3">
                    <div class="card card-plain h-100">
                      <div class="card-header pb-0 p-3 m-3">
                        <div class="row">
                            
                         
                          <h6 class="mb-1">Profile Information</h6>
                        </div>
                      </div>
                      <div class="card-body p-3 m-2">
                        
                        <ul class="list-group">
                          <li class="list-group-item border-0 ps-0 mb-0 pt-0 text-sm"><strong class="text-dark">Name:</strong> &nbsp; {{ user.name }}</li>
                          <li class="list-group-item border-0 ps-0 mb-0 text-sm"><strong class="text-dark">Mobile:</strong> &nbsp; 123123123</li>
                          <li class="list-group-item border-0 ps-0 mb-0 text-sm"><strong class="text-dark">Email:</strong> &nbsp; {{ user.email }}</li>
                          <li class="list-group-item border-0 ps-0 mb-0 text-sm"><strong class="text-dark">Role:</strong> &nbsp; {{ user.role }}</li>
                          
                        </ul>

                        
                        <hr class="horizontal gray-light my-4">
                        <p class="text-sm">
                          This is contrack company
                        </p>
                      </div>
                    </div>
                  </div>
                  
                  
                </div>
              </div>
            </div>
          </div>

          <footer class="footer m-4  ">
            <div class="container-fluid">
              <div class="row align-items-center justify-content-lg-between">
                <div class="col-lg-6 mb-lg-0 mb-4">
                  <div class="copyright text-center text-sm text-muted text-lg-start">
                    © 
                    ConsTrack
                  </div>
                </div>
                <div class="col-lg-6">
                  <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                    
                    <li class="nav-item">
                      <a href="" class="nav-link text-muted" target="_blank">About Us</a>
                    </li>
                    <li class="nav-item">
                      <a href="" class="nav-link text-muted" target="_blank">Blog</a>
                    </li>
                    <li class="nav-item">
                      <a href="" class="nav-link pe-0 text-muted" target="_blank">License</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </footer>
        
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>