
<app-stafftoolbar (toggleSidebarForMe)="sideBarToggler()"></app-stafftoolbar>
<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
        <app-staffsidenav></app-staffsidenav>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
       
        
        

        

          <div class="container-fluid px-2 px-md-4">
            <div class="page-header min-height-300 border-radius-xl mt-4">
              <span class="mask  bg-gradient-primary  opacity-6"></span>
            </div>
            <div class="">
              <div class="row gx-4 mb-2">
                <div class="col-auto">
                  <div *ngIf="user && user.staff"  class="avatar avatar-xl position-relative" style="width: 100px;">
                    <img [src]="'http://localhost:8000/' + user.staff.company_logo" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
                  </div>
                
                </div>
                <div class="col-auto my-auto">
                  <div class="h-100">
                    <h5 class="mb-0">
                        Name: {{ user.name }}
                    </h5>
                    <p class="mb-0 font-weight-normal text-sm">
                      Role: Staff of Company
                    </p>
                  </div>
                </div>
                
              </div>
              <div class="row">
                <div class="row">
                 
                  <div class="col-12 col-xl-12 m-3">
                    <div class="card card-plain h-100">
                      <div class="card-header pb-0">
                        <div class="d-flex align-items-center">
                          <p class="mb-0">Edit Profile</p>
                          <button type="button"  class="btn btn-success btn-outline-dark text-light items ms-auto m-2">Save</button>
                          
                        </div>
                      </div>
                      <div class="card-body">
                        <p class="text-uppercase text-sm mb-0">User Information</p>
                        <div class="row">
                          <div class="col-md-6">
                            <label for="example-text-input" class="form-control-label"
                              >Username</label
                            >
                            <input class="form-control" type="text" value='{{ user.name }}' />
                          </div>
                          <div class="col-md-6">
                            <label for="example-text-input" class="form-control-label"
                              >Email address</label
                            >
                            <input class="form-control"  type="email" value='{{ user.email }}' />
                          </div>
                          <div class="col-md-6">
                            <label for="example-text-input" class="form-control-label"
                              >First name</label
                            >
                            <input class="form-control" type="text" value='{{ user.staff.first_name }}'/>
                          </div>
                          <div class="col-md-6">
                            <label for="example-text-input" class="form-control-label"
                              >Last name</label
                            >
                            <input class="form-control" type="text" value='{{ user.staff.last_name }}' />
                          </div>
                          <div class="col-md-6">
                            <label for="example-text-input" class="form-control-label"
                              >Company</label
                            >
                            <input class="form-control" type="text" value='{{ user.staff.company_name }}' />
                          </div>
                          <div class="col-md-6">
                            <label for="example-text-input" class="form-control-label"
                              >Password</label
                            >
                            <button type="button" (click)="openEditSubModal()" class="btn btn-success btn-outline-dark text-light form-control">Edit Password</button>
                            <app-editpass *ngIf="isEditSubModalOpen"
                                            (close)="closeEditSubModal()"></app-editpass>
                          </div>
                        </div>
                        <hr class="horizontal dark" />
                        <p class="text-uppercase text-sm mb-0">Contact Information</p>
                        <div class="row">
                          <div class="col-md-6">
                            <label for="example-text-input" class="form-control-label"
                              >Address</label
                            >
                            <input class="form-control" 
                              type="text"
                              value='{{ user.staff.address }}'
                            />
                          </div>
                          <div class="col-md-6">
                            <label for="example-text-input" class="form-control-label"
                              >Phone Number</label
                            >
                            <input class="form-control" 
                              type="text"
                              value='{{ user.staff.phone_number }}'
                            />
                          </div>
                          <div class="col-md-4">
                            <label for="example-text-input" class="form-control-label"
                              >Province</label
                            >
                            <input class="form-control"  type="text" value='{{ user.staff.city }}' />
                          </div>
                          <div class="col-md-4">
                            <label for="example-text-input" class="form-control-label"
                              >Country</label
                            >
                            <input class="form-control"  type="text" value='{{ user.staff.country }}' />
                          </div>
                          <div class="col-md-4">
                            <label for="example-text-input" class="form-control-label"
                              >Postal code</label
                            >
                            <input class="form-control"  type="text" value='{{ user.staff.zipcode }}' />
                          </div>
                        </div>
                        <hr class="horizontal dark" />
                        <p class="text-uppercase text-sm">About me</p>
                        
                      </div>
                    </div>
                  </div>
                  
                  
                </div>
              </div>
            </div>
          </div>

        

        
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>