


<mat-toolbar>
    
  <mat-toolbar-row class="justify-content-between">
  <button mat-icon-button (click)="toggleSidebar()" class="menu"><mat-icon style="color: white;">menu</mat-icon></button>
  <div class="text" ><h1 style="font-size: 30px;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; margin-left: 50px; margin-right: 50px;" >ConsTrack: A Project Management Framework for Construction Project Monitoring</h1>
      
  </div>
  <mat-icon [matMenuTriggerFor]="notificationMenu" matBadge="{{ messages.length }}" matBadgeColor="accent" style="color: white; margin-left: 50px;">notifications</mat-icon>

  <mat-menu #notificationMenu="matMenu">
    <ng-container *ngIf="messages.length > 0; else noMessages">
      <button mat-menu-item *ngFor="let message of messages" (click)="markAsRead(message)">
        <mat-icon>message</mat-icon>
        <span>{{ message.text }}</span>
      </button>
    </ng-container>
    
    <ng-template #noMessages>
      <button mat-menu-item disabled>
        <mat-icon>info</mat-icon>
        <span>No new notifications</span>
      </button>
    </ng-template>
  </mat-menu>
  
 
  
      <div>
          
          <ul>
              
              
                  
                  <button mat-button [matMenuTriggerFor]="menu" type="button" class="user mt-3 d-flex align-items-center border" style="border-radius: 15px; background-color: rgb(250, 247, 247);"> 
                    {{ user.name }} 
                  <mat-icon style="color: rgb(7, 7, 7);">keyboard_arrow_down</mat-icon>
                  
                  
                  
              </button>
              <div class="manub">
              <mat-menu #menu="matMenu">
                  
                  <button mat-menu-item routerLink="/staff/profile" routerLinkActive="list-item-active" class="text-dark menu"><mat-icon>account_circle</mat-icon>Edit Profile</button>
                  
                  <button mat-menu-item (click)="logout()"  type="button">
                      <mat-icon>exit_to_app</mat-icon>
                      Logout
                  </button>
              </mat-menu></div>
              
          </ul>
      </div>

  </mat-toolbar-row>
  
</mat-toolbar>





<router-outlet></router-outlet>