


<mat-toolbar>
    
    <mat-toolbar-row class="justify-content-between">
    <button mat-icon-button (click)="toggleSidebar()" class="menu"><mat-icon>menu</mat-icon></button>
    <div class="text" ><h1 style="font-size: 30px;font-family: serif; font-weight: bold;">ConsTrack</h1></div>
        
    
        <div>
            <ul>
                <li>
                    
                    <button mat-button [matMenuTriggerFor]="menu" type="button" class="user mt-3 d-flex align-items-center text-white border border-light"> 
                    
                    <mat-icon>keyboard_arrow_down</mat-icon>
                    <img class="user-image" src="assets/cons.png" alt="Card image cap" >
                    
                    
                </button>
                <div class="manub">
                <mat-menu #menu="matMenu">
                    
                    <button mat-menu-item routerLink="/staff/profile" routerLinkActive="list-item-active" class="text-dark menu"><mat-icon>account_circle</mat-icon>Edit Profile</button>
                    
                    <button mat-menu-item (click)="logout()"  type="button">
                        <mat-icon>exit_to_app</mat-icon>
                        Logout
                    </button>
                </mat-menu></div>
                </li>
            </ul>
        </div>

    </mat-toolbar-row>
    
</mat-toolbar>





<router-outlet></router-outlet>